<template>
  <fab
    :position="position"
    :bg-color="bgColor"
    :color="btnColor"
    :ripple-color="btnColor"
    :actions="fabActions"
    :position-type="'absolute'"

    @download="downloadJsonFile"
    @fullscreen="fullscreen"
    @fullscreenOpen="fullscreenOpen"
    :icon-size="iconsize"
  ></fab>
</template>
<script>
import fab from 'vue-fab'
import JSZip from 'jszip'
import axios from 'axios'

export default {
  name: 'FloatButton',

  components: {
    fab
  },

  props: {
    jsonData: {
      type: Object
    }
  },

  data () {
    return {
      bgColor: '#009fe3',
      position: 'top-right',
      iconsize: 'small',
      btnColor: '#ffffff',
      fabActions: [
        {
          name: 'fullscreen',
          icon: 'fullscreen',
          tooltip: 'Expand List'
        },
        {
          name: 'fullscreenOpen',
          icon: 'fullscreen_exit',
          tooltip: 'Collapse List'
        },
        {
          name: 'download',
          icon: 'save_alt',
          tooltip: 'Download Qr-Code'
        }
      ]
    }
  },

  methods: {
    async downloadJsonFile () {
      let self = this
      let { data } = await axios.get('/ebooks/' + self.jsonData.id)

      var FileSaver = require('file-saver')
      var zip = new JSZip()
      var qrcodefolder = zip.folder(data.title + '_' + data.publish_date)

      let qrcodePath = 'https://qrcode.liveabc.com/' + data.type.toLowerCase()

      // qr-code name
      qrcodefolder.file('#0.png', self.getQrcodeFile(qrcodePath + '/' + data.id))
      for (let i = 0; i < data.content.length; i++) {
        let unitId = data.content[i].id
        let unitUnit = data.content[i].unit
        let unitName = data.content[i].name
        if (unitUnit !== '' && isNaN(parseFloat(unitUnit)) === false) {
          qrcodefolder.file('#' + (i + 1) + '_Unit' + unitUnit + '_' + unitName + '.png', self.getQrcodeFile(qrcodePath + '/' + data.id + '/' + unitId))
        } else if (unitUnit !== '' && isNaN(parseFloat(unitUnit)) === true) {
          qrcodefolder.file('#' + (i + 1) + '_' + unitName + '.png', self.getQrcodeFile(qrcodePath + '/' + data.id + '/' + unitId))
        } else if (unitUnit === '') {
          qrcodefolder.file('#' + (i + 1) + '_' + unitName + '.png', self.getQrcodeFile(qrcodePath + '/' + data.id + '/' + unitId))
        }
      }

      // get zip file
      zip.generateAsync({type: 'blob'})
      .then(function (content) {
        FileSaver.saveAs(content, 'qr-code.zip')
      })
    },
    async getQrcodeFile (url) {
      let api = 'https://api.liveabc.com/v1/qrcode/download'

      const { data } = await axios.post(api, { url: url }, {
        responseType: 'blob'
      })

      return data
    },

    fullscreen () {
      this.$emit('fullscreen', false)
    },

    fullscreenOpen () {
      this.$emit('fullscreen', true)
    }
  }
}
</script>
<style lang="scss">
  #top-right-wrapper {
    top: 1vw !important;
    right: 1vw !important;
    z-index: 8 !important;
    .fab-main {
      padding: 20px !important;
      width: 20px !important;
      height: 20px !important;
    }
    li {
      background-color: #96c11f !important;
    }
    li:nth-child(3) {
      background-color: #75982b !important;
    }
    li:last-child {
      background-color: #75982b !important;
    }
  }

</style>