<template>
  <div class="d-flex p-2 mini">
    <video ref="video" :src="video.url" v-show="false"></video>

    <div class="p-2" style="width: 30px;">
      <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
    </div>

    <div class="p-2 w-100">
      <ProgressBar :position="video.currentPos" v-on:seekTo="seekTo"></ProgressBar>
      <div class="d-flex justify-content-start pt-2 pb-2">
        <div>
          <button class="btn" @click="seekTo(0)">
            <i class="fa fa-step-backward" aria-hidden="back to begin"></i> {{ $t('btn-restart') }}
          </button>

          <button class="btn" @click="play()" v-if="video.state !== 'playing'">
            <i class="fa fa-play" aria-label="play"></i> {{ $t('btn-play') }}
          </button>

          <button class="btn" @click="pause()" v-else>
            <i class="fa fa-pause" aria-label="pause"></i> {{ $t('btn-pause') }}
          </button>

          <button class="btn"
            v-bind:style="{ 'color': repeat ? 'red' : '' }"
            @click="repeatSingle()">
            <i class="fa fa-repeat" aria-label="repeat"></i> {{ $t('btn-repeat') }}
          </button>

          <button class="btn"
            v-bind:style="{ 'color': video.slow ? 'red' : '' }"
            @click="slower()"
            v-if="slowAudioUrl && slowAudioUrl !== ''">
            <i class="fa fa-hourglass-o" aria-label="slow"></i> {{ $t('btn-slow') }}
          </button>

          <a class="btn" download :href="video.url" v-if="video.url.indexOf('blob:') > -1">
            <i class="fa fa-cloud-download" aria-label="download"></i> {{ $t('btn-download') }}
          </a>
        </div>

        <div class="ml-auto d-none">
          <span class="btn text-white">{{ duration(video.currentTime) }} | {{ duration(video.duration) }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import 'font-awesome/css/font-awesome.css'
  import 'moment-duration-format'
  import 'animate.css'
  import ProgressBar from './ProgressBar'
  import playerMixin from './playerMixin'

  export default {

    name: 'MiniPlayer',

    props: {
      slowAudioUrl: {
        type: String,
        required: false,
        default: ''
      }
    },

    components: {
      ProgressBar
    },

    mixins: [playerMixin],

    methods: {
      slower () {
        var state = this.video.state
        this.pause()
        this.video.slow = !this.video.slow
        this.video.url = this.video.slow ? this.slowAudioUrl : this.url

        this.$nextTick(() => {
          this.video.pos = this.video.currentPos
          if (state === 'playing') {
            this.play()
          }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  $brand-primary: rgb(255, 0, 0) !default;

  .mini {
    background-color: #fff;
  }

  button,
  .btn {
    color: black;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);

    &:focus {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0) !important;
    }

    &.highlight {
      color: red;
    }
  }
</style>
