<template>
  <div class="main position-relative">
    <div class="login">
      <div class="card flex-column flex-md-row overflow-hidden bg-transparent">
        <div class="card-body p-6 order-2 order-md-1 position-relative bg-white">
          <div class="position-absolute livelogo">
            <img src="../../assets/pic_live_logo.png" alt="">
          </div>
          <h1 class="text-center mb-4 text-primaryBlue font-weight-bold oops">Oops!</h1>
          <h5 class="text-center mb-4 text-primaryBlue font-weight-bold">404  -PAGE NOT FOUND</h5>
          <p class="text-center mb-4 text-primaryBlue">Sorry, the page you are looking for is currently unavailable.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NoWorkingPage',

  data () {
    return {
    }
  },

  components: {
  },

  computed: {
  },

  created () {
  },

  mounted: function () {
  },

  methods: {
  }
}
</script>

<style lang="scss" scoped>
.main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:rgba(22,60,82,0.8);
  .login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 0px solid transparent !important;
      .card-body {
        .oops {
          font-size: 4em;
        }
      }
      .livelogo {
        top: 3%;
        left: 3%;
        width: 60px;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.p-6 {
  padding: 5.5rem;
}
</style>
