<template>
  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example" >
      <ul class="pagination">
        <li class="page-item" @click="PagePre()">
          <a class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li v-for="(page,index) in pagination.Length"
        :key="index"
        @click="PageActive()"
        class="page-item">
          <a class="page-link " :class="{'currentPageActive':pagination.currentPage === page }">
            {{ page }}
          </a>
        </li>
        <li class="page-item" @click="PageNext()">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'Pagination',
  data () {
    return {
      currentPage: '',
      // 目前頁數
      currentPageActive: false
      // 頁碼顯示狀態
    }
  },
  props: {
    pagination: {
      type: Object,
      required: true,
      default: () => {
        return {
          currentPage: 1,
          Length: 0
        }
      }
    }
  },
  computed: {
  },
  created: function () {
  },
  mounted: function () {
  },
  methods: {
    PageActive: function () {
      let clickPage = parseInt(event.target.text)
      this.currentPage === clickPage
      if (clickPage === this.currentPage) {
        this.currentPageActive = true
      }
      this.$emit('pageChange', clickPage)
    },
    PagePre: function () {
      this.$emit('pageChange', 'PagePre')
    },
    PageNext: function () {
      this.$emit('pageChange', 'PageNext')
    }
  }
}
</script>

<style lang="scss" scoped>
nav{
  ul{
    margin: 0 !important;
    li {
    margin: 0 4px;
}
  }
}
.page-link {
  border: 1px solid  #163C52 !important;
  color: #163C52 !important;
  font-weight: 700;
  cursor: default;
}
.page-link:hover {
  text-decoration: none !important;
}
.currentPageActive {
  background: #163C52 !important;
  color: white !important;
}
</style>

