<template>
  <div id="player"
    ref="player"
    v-on:mousemove="showControlPanel(true)"
    v-on:mouseout="showControlPanel(false)">

    <video ref="video"
      oncontextmenu="return false;"
      :src="video.url"
      @click="toggle()" :poster="poster"></video>

    <div class="player-control p-0"
      v-show="!panel.display && video.state === 'playing'">
      <ProgressBar :position="video.currentPos"></ProgressBar>
    </div>

    <transition name="fade"
      enter-active-class="animated fadeInUp"
      leave-active-class="animated fadeOutDown">
      <div ref="playerControl" class="player-control pt-2"
        v-show="panel.display || video.state === 'stop'">
        <ProgressBar :position="video.currentPos" v-on:seekTo="seekTo"></ProgressBar>
        <div class="d-flex justify-content-start pt-2 pb-2">
          <div>
            <button class="btn btn-primary btn-sm" @click="backToBegin()">
              <i class="fa fa-step-backward fa-2x"></i>
            </button>

            <button class="btn btn-primary btn-sm"
              v-if="video.state !== 'playing'"
              @click="play()">
              <i class="fa fa-play fa-2x" aria-label="play"></i>
            </button>

            <button v-else
              class="btn btn-primary btn-sm"
              @click="pause()">
              <i class="fa fa-pause fa-2x" aria-label="pause"></i>
            </button>

            <button class="btn btn-primary btn-sm"
              @click="repeatSingle()"
              v-if="hasSubtitles">
              <i class="fa fa-repeat fa-2x" aria-label="repeat"
                v-bind:style="{ 'color': repeat && repeatIdx >= 0 ? 'red' : '' }"></i>
            </button>

            <button class="btn btn-primary btn-sm"
              @click="preSubtitle()"
              v-if="hasSubtitles">
              <i class="fa fa-caret-left fa-2x" aria-label="left"></i>
            </button>

            <button class="btn btn-primary btn-sm"
              @click="nextSubtitle()"
              v-if="hasSubtitles">
              <i class="fa fa-caret-right fa-2x" aria-label="right"></i>
            </button>
          </div>

          <div class="ml-auto">
            <span class="btn text-white">{{ duration(video.currentTime) }} | {{ duration(video.duration) }}</span>

            <button class="btn btn-primary btn-sm"
              @click="switchSub('en')"
              v-if="hasSubtitles">
              <img src="~../../assets/btn/btn_en_on.svg" v-if="subs.en" />
              <img src="~../../assets/btn/btn_en_off.svg" v-else />
            </button>

            <button class="btn btn-primary btn-sm"
              @click="switchSub('tw')"
              v-if="hasSubtitles">
              <img src="~../../assets/btn/btn_ch_on.svg" v-if="subs.tw" />
              <img src="~../../assets/btn/btn_ch_off.svg" v-else />
            </button>

            <button class="btn btn-primary btn-sm" @click="fullscreen()" v-if="isSupportFullscreen">
              <i class="fa fa-2x fa-expand" aria-label="fullscreen" v-if="!isFullscreen"></i>
              <i class="fa fa-2x fa-compress" aria-label="exit fullscreen" v-else></i>
            </button>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import 'moment-duration-format'
  // import 'animate.css'
  import ProgressBar from './ProgressBar'
  import playerMixin from './playerMixin'
  const screenfull = require('screenfull')

  export default {

    name: 'player',

    components: {
      ProgressBar
    },

    mixins: [playerMixin],

    props: {
      isUsingHTMLSubs: {
        type: Boolean,
        required: false,
        default: false
      },

      poster: {
        type: String,
        required: false,
        default: ''
      }
    },

    data () {
      return {
        panel: {
          display: true,
          timer: null
        },
        subs: {
          tw: false,
          en: false
        }
      }
    },

    computed: {
      hasSubtitles () {
        return this.subtitles.length > 0
      },

      isSupportFullscreen () {
        if (document.fullscreenEnabled ||
            document.webkitFullscreenEnabled ||
            document.mozFullScreenEnabled ||
            document.msFullscreenEnabled) {
          return true
        }

        return false
      },

      isEnableHTMLSubs () {
        return this.isFullscreen || this.isUsingHTMLSubs
      }
    },

    beforeMount () {
      window.addEventListener('keyup', this.handleKeyup)
      window.addEventListener('resize', this.handleResize)
    },

    created () {
      this.$watch('isFullscreen', (val, oldVal) => {
        this.handleResize()
      })
    },

    mounted () {
      this.$nextTick(() => {
        if (this.video.el.addTextTrack &&
            this.hasSubtitles) {
          this.attachSubtitles()
        }

        this.handleResize()
      })
    },

    beforeDestroy () {
      window.clearInterval(this.panel.timer)
      window.removeEventListener('resize', this.handleResize)
    },

    methods: {
      fullscreen () {
        if (screenfull.enabled) {
          screenfull.toggle(this.$refs.player)
          this.isFullscreen = !this.isFullscreen
          this.updateSubs()
        }
      },

      showControlPanel (state) {
        if (this.panel.display !== state || state) {
          let self = this
          let delay = state ? 0 : 700
          delay = (this.panel.display === state && state) ? 3000 : delay
          state = (this.panel.display === state && state) ? false : state

          window.clearTimeout(this.panel.timer)
          this.panel.timer = window.setTimeout(() => {
            self.panel.display = state
            self.handleResize && self.handleResize()
          }, delay)
        }
      },

      handleResize () {
        try {
          let player = this.$refs.player
          let video = this.$refs.video
          let width = player.clientWidth
          let height = player.clientHeight

          // set player height
          if (video.videoWidth >= video.videoHeight) {
            height = width * video.videoHeight / video.videoWidth
          } else {
            width = height * video.videoWidth / video.videoHeight
          }

          if (height > window.innerHeight * 0.6 && !this.isFullscreen) {
            height = window.innerHeight * 0.6
          }

          player.style.height = this.isFullscreen ? '100%' : height + 'px'

          // check video size is not larger then player
          height = (height > player.clientHeight) ? player.clientHeight : height
          width = (width > player.clientWidth) ? player.clientWidth : width

          video.style.width = width + 'px'
          video.style.height = height + 'px'
          video.style.top = ((player.clientHeight - height) / 2) + 'px'
          video.style.left = ((player.clientWidth - width) / 2) + 'px'
        } catch (error) {
          window.console.log(error)
        }
      },

      attachSubtitles () {
        window.VTTCue = window.VTTCue || window.TextTrackCue
        let trackEn = this.video.el.addTextTrack('subtitles', 'English', 'en')
        let trackCht = this.video.el.addTextTrack('subtitles', 'Chinese (Traditional)', 'zh')
        let trackChtEn = this.video.el.addTextTrack('subtitles', 'Chinese - English', 'zh-en')
        // default hidden
        // trackEn.mode = 'showing' // 'hidden'

        for (let i = 0; i < this.subtitles.length; i++) {
          let sent = this.subtitles[i]
          try {
            trackEn.addCue(new window.VTTCue(sent.timeCode_Normal.begin / 1000, sent.timeCode_Normal.end / 1000, sent.text))
            trackCht.addCue(new window.VTTCue(sent.timeCode_Normal.begin / 1000, sent.timeCode_Normal.end / 1000, sent.text_i18N[0].value))
            trackChtEn.addCue(new window.VTTCue(sent.timeCode_Normal.begin / 1000, sent.timeCode_Normal.end / 1000, sent.text + '\n' + sent.text_i18N[0].value))
          } catch (err) {
            window.console.log(err)
          }
        }
      },

      switchSub (lang) {
        if (this.subs[lang] !== undefined) {
          this.subs[lang] = !this.subs[lang]
        }

        if (this.subs.tw && this.subs.en) {
          this.video.cc = 3
        } else if (this.subs.en) {
          this.video.cc = 1
        } else if (this.subs.tw) {
          this.video.cc = 2
        } else {
          this.video.cc = 0
        }

        // this.video.cc = ++this.video.cc % (this.video.el.textTracks.length + 1)
        this.updateSubs()
      },

      updateSubs () {
        // changed vvt lang
        for (let i = 0; i < this.video.el.textTracks.length; i++) {
          this.video.el.textTracks[i].mode = ((this.video.cc - 1) === i && this.isEnableHTMLSubs) ? 'showing' : 'hidden'
        }
      },

      handleKeyup (evt) {
        if (evt.keyCode === 32) {
          evt.preventDefault()
          this.toggle()
        } else if (evt.keyCode === 37) {
          this.preSubtitle()
        } else if (evt.keyCode === 39) {
          this.nextSubtitle()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $brand-primary: rgb(255, 0, 0) !default;

  #player {
    position: relative;
    cursor: default;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    width: 100%;
    height: 100%;
    min-width: 258px;
    min-height: 194px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;

    video {
      display: block; // fixed odd bottom space
      cursor: default;
      margin: auto;
      position: absolute;
      z-index: 100;
    }

    .player-control {
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;
      position: absolute;
      bottom: 0;
      // width: calc(100% - 4em);
      width: 100%;
      padding-left: 2em;
      padding-right: 2em;
      z-index: 200;
    }

    button {
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      padding: 4px;

      &:focus {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.0)!important;
      }

      &.highlight {
        color: red;
      }
    }
  }
</style>
