<template>
  <div class="progress rounded-0" style="height: 6px;" @click="seek()">
    <div class="progress-bar"
      role="progressbar"
      aria-valuemin="0"
      aria-valuemax="100"
      v-bind:aria-valuenow="position"
      :style="{ width: position + '%' }"></div>
  </div>
</template>

<script>
export default {

  name: 'ProgressBar',

  props: {
    position: {
      type: Number,
      required: false,
      default: 0
    }
  },

  methods: {
    seek (event) {
      event = window.event
      var currentPos = ((event.offsetX) / event.currentTarget.clientWidth) * 100
      this.$emit('seekTo', currentPos)
    }
  }
}
</script>

<style lang="scss" scoped>
  $brand-primary: rgb(255, 0, 0) !default;

  .progress {
    cursor: pointer;
  }
</style>
