// color
.text-primaryBlue {
  color: #163C52;
}
.text-vibrantBlue {
  color: #009fe3;
}
.text-easyBlue {
  color: #32bcde;
}
.text-easyGreen {
  color: #72c7d0;
}
.text-vibrantGreen {
  color: #96c11f;
}
.text-forrestGreen {
  color: #75982b;
}
// bg-color
.primaryBlue {
  background-color: #163C52 !important;
}
.vibrantBlue {
  background-color: #009fe3 !important;
}
.easyBlue {
  background-color: #32bcde !important;
}
.easyGreen {
  background-color: #72c7d0 !important;
}
.vibrantGreen {
  background-color: #96c11f !important;
}
.forrestGreen {
  background-color: #75982b !important;
}

// btn
.addBtn {
  background-color: #75982b !important;
}
.addBtn:hover {
  background-color: #96c11f !important;
}
.editBtn {
  background-color: #009fe3 !important;
}
.editBtn:hover {
  background-color: #32bcde !important;
}

// pagination
.pagination_Wrap {
  overflow: hidden;
  position: relative;
  .pagination {
    float: left;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-bottom: 0 !important;

    .page-item {
      float: left;
      outline : none;
      box-shadow: none !important;
      a {
        color: #163C52;
        cursor: default;
        background-color: #fff;
        border-color: #dee2e6;
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        border: 1px solid #dee2e6;
        &:hover {
          text-decoration: none;
          background-color: #e9ecef;
          cursor: default;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .disabled-item {
      a {
        color: #dee2e6 !important;
        pointer-events: none !important;
        cursor: auto !important;
        background-color: #fff !important;
        border-color: #dee2e6 !important;
      }
    }

    .pagination-item--active {
      a{
        background-color: #163C52 !important;
        border-color: #163C52 !important;
        color: white !important;
      }
    }
  }
}

// switch-radio
.switch-radio {
  input {
    border-radius: 50px;
    box-shadow: none;
    padding-left: 16px;
    visibility: hidden;
    position: absolute;
    &:focus {
      border: 2px solid #b3d6ff;
      box-shadow: none;
    }
  }

  .radio-switch {
    text-align: center;
    label {
      background-color: #efefef;
      color: #163C52;
      float: left;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      padding: .5rem 2rem;
      transition: background-color .2s ease;
      &:not(:last-child) {
        border-right: 0;
      }
    }
    input:checked + label {
      background-color: #163C52;
      color: white;
    }
  }
}