<template>
<div>

  <!-- header -->
  <nav class="navbar navbar-expand-lg navbar-light p-0 flex-nowrap primaryBlue">
    <router-link :to="{ name: 'list' }" class="navbar-brand fontFamily text-white ml-3 align-top">
      QR-CODE SYSTEM
    </router-link>
    <div class="flex-row d-flex justify-content-end w-100" id="navbarText">
      <!-- <ul class="navbar-nav mr-auto flex-row mainBtn left">
        <li class="nav-item d-inline d-flex align-content-center">
          <router-link :to="{ name: 'list' }" class="text-white text-decoration-none p-3 fontFamily nav-itemEn"
            :class="{action: $route.name==='list'}">LIST</router-link>
          <router-link :to="{ name: 'list' }" class="text-white text-decoration-none p-3 fontFamily nav-itemCh"
            :class="{action: $route.name==='list'}">清單管理</router-link>
        </li>
        <li class="nav-item d-inline d-flex align-content-center">
          <router-link :to="{ name: 'type' }" class="text-white text-decoration-none p-3 fontFamily nav-itemEn"
            :class="{action: $route.name==='type'}">TYPE</router-link>
          <router-link :to="{ name: 'type' }" class="text-white text-decoration-none p-3 fontFamily nav-itemCh"
            :class="{action: $route.name==='type'}">類別管理</router-link>
        </li>
        <li class="nav-item d-inline d-flex align-content-center">
          <router-link :to="{ name: 'hint' }" class="text-white text-decoration-none p-3 fontFamily nav-itemEn"
            :class="{action: $route.name==='hint'}">PROMPT</router-link>
          <router-link :to="{ name: 'hint' }" class="text-white text-decoration-none p-3 fontFamily nav-itemCh"
            :class="{action: $route.name==='hint'}">提示字管理</router-link>
        </li>
      </ul> -->
      <ul class="navbar-nav flex-row mr-3 right">
        <li class="nav-item d-inline d-flex align-content-center text-white loginAccount" v-if="user">
          <span class="mr-1" style="line-height:56px;">Hi!</span>
          <span class="loginAccountName" style="line-height: 56px;">{{ user.name }}</span>
        </li>
        <li class="nav-item d-inline">
          <div class="dropdown px-2 ml-3">
            <a class="btn dropbtn primaryBlue">
              <i class="fas fa-cog"></i>
              <i class="ml-2 fas fa-angle-down"></i>
            </a>
            <div class="dropdown-content">
              <!-- <router-link :to="{ name: 'user' }" class="fontFamily">
                <i class="fas fa-user-cog mr-2"></i>
                Account Settings
              </router-link> -->
              <a class="fontFamily"
                @click="signout()">
                <i class="fas fa-sign-out-alt mr-2"></i>
                Logout
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- main -->
  <router-view></router-view>

</div>
</template>

<script>
import { mapGetters } from 'vuex'
import notification from './modules/notification'
export default {
  name: 'Backstage',

  data () {
    return {
    }
  },

  components: {
  },

  watch: {
    '$route' (to, from) {
      if (to.name !== 'add' && to.name !== 'edit') {
        this.$store.commit('LASTMODIFIED', null)
      }
    }
  },

  mixins: [
    notification
  ],

  computed: {
    ...mapGetters({
      user: 'user'
    })
  },

  mounted: function () {

  },

  updated: function () {

  },

  methods: {
    signout () {
      this.$store.dispatch('logout')
    }
  }
}
</script>

<style lang="scss">
  .navbar {
    z-index: 99;
  .fontFamily {
    font-family: Arial, Helvetica, sans-serif, '微軟正黑體';
  }
  .mainBtn {
    li {
      a{
        color: black;
        transition: .3s;
        padding-bottom: 10px !important;
        border-bottom: 5px solid transparent;
        width: 120px;
        text-align: center;
      }
    }
    li:hover a{
      border-bottom: 5px solid #32bcde;
    }
    .nav-itemCh {
      display: none;
    }
    li:hover .nav-itemEn {
      display: none;
    }
    li:hover .nav-itemCh {
      display: block;
    }
    .action {
      border-bottom: 5px solid #32bcde;
      padding-bottom: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .left {
      display: none;
    }
  }
  .right {
    .loginAccount {
      span {
        line-height: 56px;
      }
      .loginAccountName {
        display : inline-block;
        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
        width : 60px;
      }
    }
    // dropdown
    .dropdown {
      position: relative;
      display: inline-block;
      .dropbtn {
        background-color: transparent;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
        padding: 16px 0;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        right: -10px;
        z-index: 1;
        a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: block;
            min-width: 90px;
            padding: 8px 16px;
            white-space: nowrap;
            cursor: pointer;
            background-color: #163C52;
        }
      }
    }
    .dropdown-content a:hover {
      background-color: #163C52;
      background: rgba(22,60,82,0.8);
      color: white;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .dropdown:hover .dropbtn {
      background-color: transparent;
    }
  }
}
.mainNav {
  height: calc(100vh - 56px);
  .nav-itemCh {
    display: none;
  }
  .mainLi:hover .nav-itemEn {
    display: none;
  }
  .mainLi:hover .nav-itemCh {
    display: block;
  }
  .hideUl {
    display: none;
    .secondLi {
      a {
        display: block;
        width: 170px !important;
      }
    }
    .secondLi:hover {
      background-color: #72c7d0 !important;
    }
  }
  .activeUl {
    display: block !important;
  }
}
</style>
