<template>
  <div v-if="data">
    <nav class="navbar navbar-light bg-faded text-left">
      <div class="navbar-brand mr-0 d-flex justify-content-between d-sm-none w-100 mb-2 mb-sm-0">
        <div class="col-sm"></div>
        <a href="https://store.liveabc.com/" class="col-sm">
          <img src="~@/assets/pic_live_logo.png" class="d-inline-block align-top" alt="LiveABC 互動英語">
        </a>
        <div class="col-sm d-flex justify-content-end pr-0">
          <select class="form-select fs14 p-1" aria-label="Default select example" v-model="lang" @change="changeLang($event)">
            <option :value="item.value" v-for="(item, index) in optionsLang" :key="index">{{ item.text }}</option>
          </select>
        </div>
      </div>

      <div class="text-left d-flex align-items-center col-sm">
        <img :src="cover" height="72" class="mr-3 float-left" v-if="data.cover" />
        <img src="~@/assets/default_cover.png" height="72" class="mr-3 float-left" v-else />
        <div>
          <strong class="d-block" v-if="lang === 'zh' || (lang === 'en' && !data.titleEn)">{{ data.title }}</strong>
          <strong class="d-block" v-if="data.titleEn" v-html="forceToJap(data.titleEn)"></strong>
        </div>
      </div>

      <div class="navbar-brand d-none d-sm-flex align-items-center justify-content-lg-end col-sm-3 mr-0 px-0 align-self-stretch">
        <a href="https://store.liveabc.com/" class="d-block">
          <img src="~@/assets/pic_live_logo.png" class="d-inline-block align-top" alt="LiveABC 互動英語">
          <span class="logo-text"></span>
        </a>
        <select class="form-select fs14 p-1 py-lg-2" aria-label="Default select example" v-model="lang" @change="changeLang($event)">
          <option :value="item.value" v-for="(item, index) in optionsLang" :key="index">{{ item.text }}</option>
        </select>
      </div>
    </nav>

    <div class="row px-2 px-md-3 mx-0">
      <div class="col-12 p-0" v-if="selectedSection.file !== ''">
        <!-- 影片播放器 -->
        <div id="player" class="col-sm-12" v-if="selectedSection.file.indexOf('mp4') > -1" >
          <!-- Player -->
          <player ref="livePlayer"
            :url="path + unitIdAndSelectedName + '/' + selectedSection.file"
            :poster="path + '/' + data.cover"
            v-on:video="updateVideoState" />

          <div id="video-btn" @click="$refs.livePlayer.toggle()">
            <button class="btn btn-default rounded-circle"
              v-if="videoState && videoState.state === 'stop'">
              <i class="fa fa-3x fa-play"></i>
            </button>
            <p class="text-center" v-if="videoState && videoState.state === 'stop'">{{ $t('btn-click-play') }}</p>
          </div>
        </div>

        <MiniPlayer :url="path + unitIdAndSelectedName + '/' + selectedSection.file"
          :slowAudioUrl="selectedSection.slow ? path + unitIdAndSelectedName + '/' + selectedSection.slow : null"
          v-on:video="updateVideoState"
          v-if="selectedSection.file.indexOf('mp3') > -1" />
      </div>

      <!-- 單元列表 -->
      <div class="col-12">
        <!-- 課程清單 -->
        <div id="menu-unit" class="form-inline border-bottom">
          <div class="form-group w-100">
            <label class="col-sm-12 control-label d-flex justify-content-start col-md-2 pt-3 pb-2" style="width: 250px;">
              <img src="~../assets/icon/list.svg" class="mr-2" /> {{ $t('class-list') }}
            </label>
            <div class="col-sm-12 col-md-10 pt-3 pb-2">
              <select class="form-control w-100" v-model="index" v-if="lang === 'zh'">
                <option :value="i" v-for="(item, i) in unitList" :key="i" v-html="item">
                </option>
              </select>
              <select class="form-control w-100" v-model="index" v-else>
                <option :value="i" v-for="(item, i) in unitListEn" :key="i" v-html="getOnlyJp(item)">
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!-- 課程列表 -->
      <div class="col-12">
        <!-- 課程子清單 -->
        <div id="menu-unit" class="panel pt-3 pb-3 text-left">
          <div class="form-group w-100">
            <label class="col-sm-12 control-label">
              <img src="~../assets/icon/unit.svg" class="pr-2" />
              <span :class="{ textHide: isNaN(Number((data.content[index].unit))) }">Unit</span>
              {{ data.content[index].unit ? data.content[index].unit : '' }}
              <span v-if="lang !== 'zh' && data.content[index].nameEn" v-html="forceToJap(data.content[index].nameEn)"></span>
              <span v-else>{{ data.content[index].name }}</span>
            </label>
            <div class="col-sm-12">
              <ul class="list-group">
                <li :class="{ 'list-group-item border-bottom': true, 'active': sectionIndex == idx }"
                  ref="section"
                  v-for="(section, idx) in data.content[index].sections" :key="idx" @click="playSection(idx)">
                  <span v-if="lang !== 'zh' && section.nameEn" v-html="forceToJap(section.nameEn)"></span>
                  <span v-else>{{ section.name }}</span>
                  <ul class="list-group">
                    <li class="list-group-li border-bottom"
                      v-for="part in section.parts" :key="part.name"
                      :class="{ active: sectionIndex == idx && partIndex == part.part - 1 }"
                      @click="play(idx, part)">
                      <span>{{ part.name }}</span>
                    </li>
                  </ul>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="row justify-content-sm-center">
        <div class="col-lg-4 offset-xs-1 service-line d-none d-lg-block"></div>
        <div class="col-lg-3 service-line-center pl-0 pr-0">{{ $t('footer-title') }}</div>
        <div class="col-lg-4 service-line d-none d-lg-block"></div>
      </div>
      <div class="text-center">
        {{ $t('Contact') }} : (02)25787838 | {{ $t('Time-Service') }} : {{ $t('week') }} 09:00~18:00 | {{ $t('email') }} : <a class="text-decoration-underline text-white" href="mailto:service@liveabc.com">service@liveabc.com</a>
      </div>
      <div class="text-center">
        Copyright©Hebron Soft Limited. All Rights Reserved.
      </div>
    </footer>
  </div>
</template>

<script>
  import Player from './modules/Player'
  import MiniPlayer from './modules/MiniPlayer'
  import metaMixin from './metaMixin'
  import langMixin from '@/components/modules/langMixin'
  import axios from 'axios'
  export default {

    name: 'Book',

    components: {
      Player,
      MiniPlayer
    },

    mixins: [
      metaMixin,
      langMixin
    ],

    data () {
      return {
        path: 'https://storage.liveabc.com/qrcode/' + this.$route.params.product_no,
        data: null,
        index: 0,
        sectionIndex: 0,
        partIndex: 0,
        videoState: null,
        scrolltop: 0,
        optionsLang: [
          { text: '中', value: 'zh' },
          { text: 'En', value: 'en' }
        ]
      }
    },

    computed: {
      lang: {
        get () {
          return this.$store.state.lang
        },
        set () {}
      },
      selectedSection () {
        let self = this
        if (self.data.content[self.index].sections[self.sectionIndex].parts) {
          return self.data.content[self.index].sections[self.sectionIndex].parts[self.partIndex]
        } else {
          return self.data.content[self.index].sections[self.sectionIndex]
        }
      },
      unitId () {
        return this.data.content[this.index].id
      },
      cover () {
        let url = '../assets/'
        return this.data.cover ? this.path + '/' + this.data.cover : url + this.data.logo
      },
      unitIdAndSelectedName () {
        let selectedName = this.data.content[this.index].sections[this.sectionIndex].name
        if (selectedName && this.unitId && this.data.content[this.index].sections[this.sectionIndex].parts) {
          return '/' + this.unitId + '/' + selectedName
        } else {
          return '/' + ((this.unitId !== undefined) ? this.unitId : 'files')
        }
      },
      unitList () {
        let self = this
        let unitListAr = []
        for (let i = 0; i < self.data.content.length; i++) {
          if (isNaN(Number((self.data.content[i].unit)))) {
            unitListAr.push(self.data.content[i].unit + ' ' + self.data.content[i].name)
          } else {
            unitListAr.push('Unit' + self.data.content[i].unit + ' ' + self.data.content[i].name)
          }
        }
        return unitListAr
      },
      unitListEn () {
        let self = this
        let unitListAr = []
        for (let i = 0; i < self.data.content.length; i++) {
          if (self.data.content[i].nameEn) {
            if (isNaN(Number((self.data.content[i].unit)))) {
              unitListAr.push(self.data.content[i].unit + ' ' + self.data.content[i].nameEn)
            } else {
              unitListAr.push('Unit' + self.data.content[i].unit + ' ' + self.data.content[i].nameEn)
            }
          } else {
            if (isNaN(Number((self.data.content[i].unit)))) {
              unitListAr.push(self.data.content[i].unit + ' ' + self.data.content[i].name)
            } else {
              unitListAr.push('Unit' + self.data.content[i].unit + ' ' + self.data.content[i].name)
            }
          }
        }
        return unitListAr
      }
    },

    created () {
      window.addEventListener('scroll', this.handleScroll)
    },

    beforeDestroy () {
      window.removeEventListener('scroll', this.handleScroll)
    },

    mounted () {
      this.$watch('$route.params.product_no', (val, oldVal) => {
        this.getData()
      })

      this.$watch('$route.params.unit', (val, oldVal) => {
        this.pageUpdate()
      })
      this.$watch('$route.params.lesson', (val, oldVal) => {
        this.pageUpdate()
      })

      this.getData()
    },

    methods: {
      changeLang (event) {
        let self = this
        self.$store.dispatch('setLang', event.target.value)
        self.$i18n.locale = event.target.value
      },

      handleScroll () {
        this.scrolltop = document.body.scrollTop
      },

      getData () {
        let self = this
        let apiPath = `https://api.liveabc.com/v1/ebook/${self.$route.params.product_no}`

        axios.get(apiPath, {
          headers: {
            'Content-Type': 'application/json'
          }
        }).then((response) => {
          self.data = response.data
          self.pageUpdate()
        })
      },

      pageUpdate () {
        let unit = this.$route.params.unit

        if (!isNaN(unit)) {
          this.index = unit ? unit - 1 : 0
        } else {
          let idx = this.data ? this.data.content.map((e) => {
            return e.id
          }).indexOf(unit) : 0

          this.index = idx > -1 ? idx : 0
        }

        this.sectionIndex = this.$route.params.lesson ? parseInt(this.$route.params.lesson - 1) : 0
      },

      updateVideoState (data) {
        this.videoState = data
      },

      selectUnit (index) {
        this.index = index
      },

      play (index, part) {
        this.sectionIndex = index
        this.partIndex = part.part - 1
        document.body.scrollTop = 0
      },

      playSection (index) {
        this.sectionIndex = index
        document.body.scrollTop = 0
      }
    }
  }
</script>

<style lang="scss" scoped>
  $green: #8db826!important;
  $red: #fe7171!important;
  $blue: #0095c7!important;

  .hello {
    padding: 1em;
  }

  * {
    &:focus {
      outline: none;
    }
  }

  #player {
    position: relative;
    @media (max-width: 320px) {
      height: 194px;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      position: absolute;
      width: 200px;
      left: calc(50% - 100px);
      top: calc(50% + 50px);
      color: #ffffff;
      font-size: 26px;
      padding-top: 1.1em;
    }

    #video-btn {
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      cursor: pointer;

      .btn {
        cursor: pointer;
        width: 100px;
        height: 100px;
        color: #ffffff;
        text-align: center;
        padding-left: 25px;
        background-color: $green;
        border-color: $green;
      }
    }
  }

  #menu-unit {
    background-color: #e6e6e6;
    .textHide {
      display: none !important;
    }
    li {
      background-color: #e6e6e6;
      border-color: #e6e6e6;
    }
  }

  #menu-lesson {
    background-color: #f2f2f2;
    li {
      background-color: #e6e6e6;
      border-color: #e6e6e6;
    }
  }

  #book-info {
    background-color: #f2f2f2;
    height: 100%;

    #buy-btn {
      background-color: $green;
      color: #fff;
    }
  }

  .price {
    color: $red;
  }

  .panel-head {
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
  }

  .panel-body {
    height: 400px;
    font-size: 26px;
    overflow-y: auto;
  }

  .list-group-item {
    cursor: pointer;
  }
  .list-group-li {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  .active {
    color: $green;
  }
  // footer
    .logo-text {
    color: #4c4c4c;
    margin-left: 1em;
    vertical-align: middle ;
    line-height: 100%;
  }

  footer {
    background-color: #595959;
    color: #fff;
    line-height: 200%;
    padding: 15px;
    text-align: center;
  }

  .service-line {
    height: 1.8em;
    border-bottom: 2px solid white;
  }

  .service-line-center {
    height: 2.8em;
    line-height: 2.8em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }
  .text-decoration-underline {
  text-decoration: underline;
  }
</style>
