<template>
  <div id="magazine" v-if="data != null">
    <header-section
      :data="content"
      :logo="data.logo"
      :routeId="routeId"
      :title="data.title"
      :RouteIdHideMenu="RouteIdHideMenu"
      v-on:hideMenu="hideMenu" />

    <div class="text-center">
      <div class="border-bottom pt-3">
        <p class="m-0" style="color:#999999" v-if="data.publish_date">{{ data.publish_date }}</p>
        <div style="min-height:36.667px;">
          <h4 v-if="content[route].unit!==''" class="mb-0">
            <span :class="{ textshow: isNaN(Number((content[route].unit))) }">
              Unit
            </span>
            <span>{{ content[route].unit }}</span>
          </h4>
        </div>
        <div style="min-height:64px;">
          <p v-html="content[route].nameEn" class="m-0 px-1" style="white-space:pre-wrap;">{{ content[route].nameEn }}</p>
          <p class="m-0 px-1" style="white-space:pre-wrap;">{{ content[route].name }}</p>
        </div>
      </div>

      <partLesson
        class="main"
        :data="content[route].sections"
        :routeId="routeId"
        :route="route"
        :path="path"
        :closeVideoJs="closeVideoJs"
        :audioCover="audioCover"
        />

        <advertisement
          v-if="adData"
          :adData="adData"
          />
    </div>
  </div>
</template>

<script>
import headerSection from '@/components/magazine/headerSection.vue'
import partLesson from '@/components/magazine/PartLesson'
import metaMixin from './metaMixin'
import axios from 'axios'
import langMixin from '@/components/modules/langMixin'
import advertisement from '@/components/magazine/AD.vue'
export default {
  name: 'Magazine',

  mixins: [
    metaMixin,
    langMixin
  ],

  data () {
    return {
      path: 'https://storage.liveabc.com/qrcode',
      data: null,
      RouteIdHideMenu: '',
      closeVideoJs: false,

      adData: null,

      audioCover: null
    }
  },

  components: {
    headerSection,
    partLesson,
    advertisement
  },

  computed: {
    route () {
      let self = this
      if (self.$route.params.id) {
        return self.content.findIndex(x => x.id === self.$route.params.id)
      } else {
        return 0
      }
    },
    routeId () {
      let self = this
      return self.content[self.route].id
    },
    content () {
      let self = this
      return self.data.content
    }
  },

  mounted () {
    this.getJson()
    this.getAD()
  },

  methods: {
    getCover (titleEn, publishDate) {
      let self = this
      let splitTitleEn = titleEn.split(' ')
      let magTitle

      switch (splitTitleEn[0]) {
        case 'CNN':
          magTitle = 'CNN'
          break
        case 'Japanese':
          magTitle = 'JPN'
          break
        case 'LIVE':
          magTitle = 'LIVE'
          break
        case 'ALL+':
          magTitle = 'ALL'
          break
        case 'ABC':
          magTitle = 'ABC'
          break
      }
      let splitPublishDate = publishDate.split('.')
      let Year = splitPublishDate[0].substr(2)

      axios.get(`https://api.liveabc.com/v1/magazines/${magTitle}_${Year}${splitPublishDate[1]}/cover`)
        .then((response) => {
          self.audioCover = response.data.url
        })
    },
    getAD () {
      let self = this
      axios.get(`/ad/qrcodeAD`)
        .then((response) => {
          self.adData = response.data[0]
        })
    },
    getJson () {
      let self = this
      axios.get(`/ebook/${self.$route.params.book}`)
        .then((response) => {
          self.data = response.data
          for (let i = 0; i < response.data.content.length; i++) {
            self.data.content[i].nameEn = self.forceToJap(self.data.content[i].nameEn)
          }
          self.$route.params.id ? self.RouteIdHideMenu = 'close' : self.RouteIdHideMenu = ''
          self.updatePageTitle()
          self.getCover(response.data.titleEn, response.data.publish_date)
        })
    },

    hideMenu (hideMenu) {
      if (hideMenu === true) {
        this.closeVideoJs = false
      } else {
        this.closeVideoJs = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  #magazine {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  p, h4, h5 {
    font-family: 'Arial', Times, serif, '微軟正黑體';
    color: #000;
  }
  .textshow {
    display: none;
  }

  .main {
    position: relative;
  }
</style>
