<template>
  <div class="breadcrumb-bar" v-if="editPage !== 5">
    <div class="row easyBlue mx-0">
      <div class="col d-flex align-items-center position-relative justify-content-center pt-1 pb-1"
        :class="{ stepActive: editPage === 1 }">
          <div class="stepCircle mr-lg-2">
            <span>1</span>
          </div>
          <div class="d-flex flex-column mb-0 text-white stepText">
            <span class="">MAGAZINE</span>
          </div>
        <p v-show="editPage === 1" class="nowon m-0 position-absolute"></p>
      </div>
      <div class="col d-flex align-items-center position-relative justify-content-center pt-3 pb-3"
        :class="{ stepActive: editPage === 2 }">
          <div class="stepCircle mr-lg-2">
            <span>2</span>
          </div>
          <div class="d-flex flex-column mb-0 text-white stepText">
            <span class="">UNIT</span>
          </div>
        <p v-show="editPage === 2" class="nowon m-0 position-absolute"></p>
      </div>
      <div class="col d-flex align-items-center position-relative justify-content-center pt-3 pb-3"
      :class="{ stepActive: editPage === 3 }">
          <div class="stepCircle mr-lg-2">
            <span>3</span>
          </div>
          <div class="d-flex flex-column mb-0 text-white stepText">
            <span class="">PART</span>
          </div>
        <p v-show="editPage === 3" class="nowon m-0 position-absolute"></p>
      </div>
      <div class="col d-flex align-items-center position-relative justify-content-center pt-3 pb-3"
        :class="{ stepActive: editPage === 4 }" v-if="type === 'magazine'">
          <div class="stepCircle mr-lg-2">
            <span>4</span>
          </div>
          <div class="d-flex flex-column mb-0 text-white stepText">
            <span class="">LESSON</span>
          </div>
        <p v-show="editPage === 4" class="nowon m-0 position-absolute"></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'breadcrumb',
  props: {
    editPage: {
      type: Number,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
  .breadcrumb-bar {
    .stepCircle {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;
      border: 2px solid white;
      border: 2px solid transparent;
      color: #32bcde;
      background: rgb(250, 250, 250);
      line-height: 25px;
      opacity: 0.5;
      border: 3px solid rgb(255, 255, 255);
    }
    .stepText {
      opacity: 0.5;
    }
    .stepActive {
      .stepCircle {
        background: #163C52;
        color: #ffffff;
        opacity: 1;
      }
      .stepText {
        opacity: 1;
      }
    }
    .nowon {
      bottom: -7px;
      left: 55%;
    }
    .nowon::before {
      content: "\25B6";
      color: rgb(255, 255, 255);
      display: inline-block;
      margin-right: 6px;
      transform: rotate(-90deg);
    }
    @media (max-width: 992px) {
      .stepText {
        display: none !important;
      }
      .nowon {
        left: 45%;
      }
    }
  }
</style>
