<template>
  <div class="Confirm-DelBg">
    <div class="Confirm-Del" id="Confirm-Del" >
      <div class="card" style="width:25rem;">
        <div class="card-header text-primaryBlue bg-white d-flex align-items-center">
          <i class="fas fa-exclamation-circle mr-2 font-weight-bold"></i>
          <h5 class="mb-0 font-weight-bold">CONFIRMED</h5>
        </div>
        <div class="card-body">
          <p class="m-0 text-primaryBlue font-weight-bold">The file cannot be recovered</p>
          <p class="text-primaryBlue">Are you sure ?!?!</p>
          <div class="form-group" v-if="isPassword">
            <label class="text-primaryBlue" for="exampleInputPassword1">請輸入 [{{ deleteTitle }}] 確認刪除。</label>
            <input type="text" class="form-control" id="inputVal" autocomplete="off"
              v-model.trim="inputVal" autofocus>
          </div>
          <div class="d-flex justify-content-center">
            <a class="btn btn-yes m-2 text-primaryBlue py-2 px-3" @click="agreeConfirmDel">YES</a>
            <a class="btn btn-no primaryBlue m-2 text-white py-2 px-4" @click="closeConfirmDel">NO</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Confirm',
  components: {
  },

  data () {
    return {
      inputVal: null
    }
  },
  props: {
    deleteTitle: {
      type: String,
      default: ''
    },
    isPassword: {
      type: Boolean
    }
  },
  methods: {
    closeConfirmDel () {
      this.$emit('confirm', false)
    },
    agreeConfirmDel () {
      let self = this
      if (self.isPassword) {
        self.inputVal && (self.inputVal === self.deleteTitle) ? self.$emit('confirm', true) : null
      } else {
        self.$emit('confirm', true)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// Del Confirm
  .Confirm-DelBg {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    .Confirm-Del {
      position: absolute !important;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 11;
      .btn-yes {
        background: transparent;
        border-color: #163C52;
      }
      .btn {
        cursor: pointer;
        &:hover {
          box-shadow:4px 4px 4px -2px rgba(20%,20%,40%,0.5);
        }
      }
    }
  }
</style>
