<template>
  <div class="EditSection position-relative">
    <div class="row primaryBlue mx-0">
      <!-- left -->
        <div class="col-6 col-lg-5 px-0 position-relative">
          <div class="editSectionLeft" id="editSectionLeft">
            <div class="DataList px-2 pt-3" name="DataList">

              <!-- 沒有ID -->
              <a v-if="jsonData.publish_date === ''"
                class="ml-5 text-white addNode canTouch" @click="addMagazineNode()">
                <i class="fas fa-plus mr-1"></i>NEW
              </a>

              <!-- 有ID -->
              <div v-if="jsonData.publish_date !== ''"
                class="titleInform d-flex flex-column flex-md-row pb-2 justify-content-between">
                <div class="d-flex">
                  <div style="width: 30px;" class="mr-1" v-if="jsonData.type === 'book'">
                    <img class="w-100 h-100" style="object-fit: contain;" :alt="jsonData.cover" v-if="jsonData.cover !== ''"
                      :src="'https://storage.liveabc.com/qrcode/' + jsonData.id + '/' + jsonData.cover">
                      <i class="far fa-image text-white" v-if="jsonData.cover === ''"></i>
                  </div>
                  <div>
                    <div class="d-flex magazineActionLi magazine-title align-content-center">
                      <p class="m-0 text-white">{{ jsonData.title }}</p>
                      <div class="d-flex align-items-center">
                        <div class="magazineAction ml-2">
                          <a v-if="jsonData.publish_date !== ''"
                            @click="addUnitNode()"
                            class="addBtn text-white p-1 px-2">
                            <i class="fas fa-plus"></i>
                          </a>
                        </div>
                        <div class="magazineAction dropdown px-1">

                          <a class="dropbtn editBtn px-2 py-1 canTouch">
                            <i class="fas fa-cog"></i>
                            <i class="ml-2 fas fa-angle-down"></i>
                          </a>

                          <div class="dropdown-content">
                            <a @click="editMagazineNode()"
                              class="d-flex canTouch">
                              <i class="far fa-edit p-1 px-2"></i>
                              <span class="pr-2">edit</span>
                            </a>
                          </div>

                        </div>
                      </div>
                    </div>
                    <p class="m-0 text-white">{{ jsonData.publish_date }}</p>
                  </div>
                </div>

                <float-button :jsonData="jsonData" v-on:fullscreen="fullscreen"/>

              </div>

              <!-- 資料列表 -->
              <div class="mainList" ref="mainList" @scroll="setScrollTop">
                <ul v-if="jsonData !== []" id="myUL">
                  <li v-for="(item,index) in content" :key="index" :id="index"
                    class="text-white addSectionActionLi">
                    <div class="m-0 d-flex flex-column flex-md-row unitActionLi">
                      <p class="caret caret-down m-0 unitListName canTouch" ref="unitTreecaret" @click="toggleTree(index)">
                        <span>#{{ index + 1 }}-</span>
                        <span :class="{ textHide: isNaN(parseFloat((item.unit))) }">Unit</span>
                        <span>{{ item.unit }}({{ item.name }})</span>
                        </p>
                        <div class="d-flex align-items-center">
                          <div class="unitAction ml-2">
                            <a class="text-white addBtn p-1 px-2"
                              @click.stop="addSectionNode(index)">
                              <i class="fas fa-plus"></i>
                            </a>
                          </div>
                          <div class="unitAction dropdown px-1">

                            <a class="dropbtn editBtn px-2 py-1 canTouch">
                              <i class="fas fa-cog"></i>
                              <i class="ml-2 fas fa-angle-down"></i>
                            </a>

                            <div class="dropdown-content">
                              <a @click.stop="editUnitNode(item)"
                                class="d-flex canTouch">
                                <i class="far fa-edit p-1 px-2"></i>
                                <span class="pr-2">edit</span>
                              </a>
                              <a @click.stop="deleteNode(item.id)"
                                class="d-flex canTouch">
                                <i class="far fa-trash-alt p-1 px-2"></i>
                                <span class="pr-2">delete</span>
                              </a>
                              <a @click.stop="sortUnit(item)"
                                class="d-flex canTouch">
                                <i class="fas fa-sort p-1 px-2"></i>
                                <span class="pr-2">sort</span>
                              </a>
                            </div>

                          </div>
                        </div>
                    </div>

                    <ul class="nested" ref="sectionTree">
                      <li v-for="section in item.sections" :key="section.name"
                      :id="section.name" class="text-white addPartActionLi">
                        <div class="m-0 d-flex flex-column flex-md-row sectionActionLi">

                          <p v-if="jsonData.type === 'magazine'" class="caret caret-down m-0 canTouch" @click.stop="toggleTree(index, section)">
                            <span>{{ section.name }}</span>
                          </p>
                          <p v-if="jsonData.type === 'book'" class="m-0">
                            <span>{{ section.name }}</span>
                          </p>

                          <i v-if="section.file.indexOf('mp4') !== -1" class="fas fa-video ml-1"></i>
                          <i v-if="section.file.indexOf('mp3') !== -1" class="fas fa-headphones-alt ml-1"></i>
                          <div class="d-flex align-items-center">
                            <div class="sectionAction ml-2" v-if="jsonData.type === 'magazine'">
                              <a class="text-white addBtn p-1 px-2"
                                @click.stop="addPartNode(index, section.section)">
                                <i class="fas fa-plus"></i>
                              </a>
                            </div>
                            <div class="sectionAction dropdown px-1">
                              <a class="dropbtn editBtn px-2 py-1 canTouch">
                                <i class="fas fa-cog"></i>
                                <i class="ml-2 fas fa-angle-down"></i>
                              </a>
                              <div class="dropdown-content">
                                <a @click.stop="editSectionNode(item.id, section)"
                                  class="d-flex canTouch">
                                  <i class="far fa-edit p-1 px-2"></i><span class="pr-2">edit</span>
                                </a>
                                <a @click.stop="deleteNode(item.id, section)"
                                  class="d-flex canTouch">
                                  <i class="far fa-trash-alt p-1 px-2"></i><span class="pr-2">delete</span>
                                </a>
                                <a @click.stop="sortSection(item.id, section)"
                                  class="d-flex canTouch">
                                  <i class="fas fa-sort p-1 px-2"></i><span class="pr-2">sort</span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ul class="nested" ref="partTree">
                          <li v-for="part in section.parts" :key="part.name"
                            class="d-flex flex-column flex-md-row partActionLi text-white" :index="part.part">
                            <p class="m-0">
                              {{ part.part }}-{{ part.name }}
                              <i v-if="part.file.indexOf('mp4') !== -1" class="fas fa-video ml-1"></i>
                              <i v-if="part.file.indexOf('mp3') !== -1" class="fas fa-headphones-alt ml-1"></i>
                              <i v-if="part.file.indexOf('https') !== -1" class="fab fa-youtube ml-1"></i>
                            </p>
                            <div class="partAction dropdown px-2 ml-1">
                              <a class="dropbtn editBtn px-2 py-1 canTouch">
                                <i class="fas fa-cog"></i>
                                <i class="ml-2 fas fa-angle-down"></i>
                              </a>
                              <div class="dropdown-content">
                                <a @click.stop="editPartNode(item.id, section.section, part)" class="canTouch">
                                  <i class="far fa-edit p-1 px-2"></i><span class="pr-2">edit</span>
                                </a>
                                <a @click.stop="deleteNode(item.id, section.section, part)" class="canTouch">
                                  <i class="far fa-trash-alt p-1 px-2"></i><span class="pr-2">delete</span>
                                </a>
                                <a @click.stop="sortPart(item.id, section.section, part)" class="canTouch">
                                  <i class="fas fa-sort p-1 px-2"></i><span class="pr-2">sort</span>
                                </a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div>
          </div>

          <!-- scroll-top -->
          <a class="btn position-absolute upBtn p-1 px-3 text-white canTouch rounded-top"
            @click="scrollToTop"
            v-if="treeScrollTop > 200">
            <i class="fas fa-angle-up"></i>
          </a>

        </div>

      <!-- right -->
        <div class="col-6 col-lg-7 pl-0 pr-2 position-relative">
          <div class="editSectionRight w-100 bg-white">

            <!-- 編輯區塊 -->
            <div v-if="!editMode">
              <!-- 麵包屑 -->
              <Breadcrumb :editPage="editPage" :type="jsonData.type" />

              <!-- magazine -->
              <div class="magazine" v-if="editPage === 1">
                <div class="card border-0">
                  <div class="card-body">
                    <div class="mb-0 p-0 d-flex justify-content-between">
                      <h5 class="card-title">Step1. Magazine</h5>
                      <a class="px-2 canTouch" @click="editMode = !editMode">
                        <i class="fas fa-times font-weight-bold" style="font-size:1.5em;"></i>
                      </a>
                    </div>
                    <div class="form-row mb-4">
                      <div class="col-12">
                        <div class="form-group row">
                          <label for="staticEmail" class="col-lg-3 col-form-label">Magazine/Book ID :</label>
                          <div class="col-lg-9">
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail" :value="jsonData.id">
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group mb-4 switch-radio magazine-switch">
                          <div class="cell small-12">
                            <label>(1).請選擇類別：</label>
                            <fieldset class="radio-switch">
                              <input type="radio" class="custom-radio-control show-for-sr" name="project" value="magazine"
                                id="project_magazine" v-model="magazineValue.type" checked :disabled="jsonData.type !== ''">
                              <label for="project_magazine" :class="{ noAllowed: jsonData.type !== '' }">Magazine</label>
                              <input type="radio" class="custom-radio-control show-for-sr" name="project" value="book"
                                id="project_book" v-model="magazineValue.type" :disabled="jsonData.type !== ''">
                              <label for="project_book" :class="{ noAllowed: jsonData.type !== '' }">Book</label>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="SelectType">
                            <span v-if="magazineValue.type === 'magazine'">(2).請選擇雜誌：</span>
                            <span v-if="magazineValue.type === 'book'">(2).請輸入中文書名：</span>
                            <span class="border p-1 mx-2 border-danger text-danger">必填</span>
                          </label>
                          <v-select :options="typeList" label="title" taggable :push-tags="true" v-if="magazineValue.type === 'magazine'"
                            id="MagazineType" v-model="magazineValue.selected"></v-select>
                          <input type="text" class="form-control" id="title" autocomplete="off" v-if="magazineValue.type === 'book'" v-model.trim="magazineValue.title">
                        </div>
                      </div>
                      <div class="col-12" v-if="magazineValue.type === 'book'">
                        <div class="form-group">
                          <label for="SelectType">
                            <span>(3).外(英/日)文書名：</span>
                          </label>
                          <input type="text" class="form-control" id="titleEn" v-model.trim="magazineValue.titleEn" autocomplete="off">
                        </div>
                      </div>
                      <div class="col-12" v-show="magazineValue.type === 'book'">
                        <div class="form-group row">
                          <label for="staticEmail" class="col-lg-2 col-form-label">(4).上傳封面：</label>
                          <div class="col-lg-10">
                            <div class="custom-file uploadForm">
                              <input type="file" class="custom-file-input" id="customFile" name="file-to-upload" accept="image/*"
                                ref="bookCover" @change="uploadbookCover">
                              <label class="custom-file-label" for="customFile">{{ magazineValue.file.fileName }}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="SelectDate">(5).請選擇發行月份：
                          <span class="border p-1 mx-2 border-danger text-danger">必填</span>
                        </label>
                        <div class="form-group row">
                          <p class="col-3 col-lg-1 col-form-label text-right m-0 px-0">Year</p>
                          <div class="col-9 col-lg-5 pb-2 pb-lg-0">
                            <select class="custom-select custom-select-sm" id="selectDate"
                              v-model="magazineValue.yearSelect">
                              <option selected="true" disabled="disabled"> -- select an option -- </option>
                              <option :value="item" v-for="(item,index) in getDateTime" :key="index">{{ item }}</option>
                            </select>
                          </div>
                          <p class="col-3 col-lg-1 col-form-label text-right m-0 px-0">Month</p>
                          <div class="col-9 col-lg-5">
                            <select class="custom-select custom-select-sm" id="selectMonth"
                              v-model="magazineValue.monthSelect">
                              <option selected="true" disabled="disabled"> -- select an option -- </option>
                              <option :value="item" v-for="(item,index) in 12" :key="index">{{ item }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="d-flex justify-content-end">
                          <a @click="magazineSubmit()" class="text-white btn addBtn px-5">
                            <span v-if="jsonData.publish_date !== ''">Update</span>
                            <span v-if="jsonData.publish_date === ''">Submit</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unit -->
              <div class="Unit" v-if="editPage === 2">
                <div class="card border-0">
                  <div class="card-body">
                    <div class="mb-0 p-0 d-flex justify-content-between">
                      <h5 class="card-title">Step2. Unit</h5>
                      <a class="px-2 canTouch" @click="editMode = !editMode">
                        <i class="fas fa-times font-weight-bold" style="font-size:1.5em;"></i>
                      </a>
                    </div>
                    <div class="form-row mb-4">
                      <div class="col-12">
                        <fieldset class="form-group mb-0">
                          <div class="row my-2">
                            <div class="col-lg-3">
                              <p class="m-0 font-weight-bold">(1).Unit type</p>
                            </div>
                            <div class="col-lg-9">
                              <div class="d-flex align-items-center">
                                <div class="input-group w-auto mr-1">
                                  <select class="custom-select" id="unit-switch" @change="unitTypeSwitch($event.target.value)">
                                    <option selected value="number">Number</option>
                                    <option value="text">Text</option>
                                    <option value="none">None</option>
                                  </select>
                                </div>
                                <div class="d-flex align-items-center m-1">
                                  <div v-if="unitValue.unitType=='number'"
                                    id="plusminesNumber"
                                    class="plusminesNumber d-flex w-100">
                                    <div class="form-row">
                                      <div class="col-2">
                                        <div class="dec calculateBtn text-white vibrantBlue"
                                          @click="calculateNumber(false)">
                                          <i class="fas fa-minus"></i>
                                        </div>
                                      </div>
                                      <div class="col-8">
                                        <input type="text"
                                          class="form-control form-control-sm"
                                          name="partridge"
                                          id="partridge"
                                          value="1"
                                          v-model.trim="unitValue.unit">
                                      </div>
                                      <div class="col-2">
                                        <div class="inc calculateBtn text-white vibrantBlue canTouch"
                                          @click="calculateNumber(true)">
                                          <i class="fas fa-plus"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div v-if="unitValue.unitType === 'text'"
                                    class="form-group w-100 m-0">
                                    <input type="text" class="form-control form-control-sm" id="unitName" autocomplete="off"
                                      v-model.trim="unitValue.unit" placeholder="enter text">
                                  </div>
                                  <div v-if="unitValue.unitType === 'none'"
                                    class="form-group w-100 m-0">
                                    <input type="text" class="form-control form-control-sm" id="unitName"
                                      v-model.trim="unitValue.unit" placeholder="None" value="''" readonly>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </fieldset>
                      </div>
                      <div class="col-12 mb-3">
                        <div class="form-group mb-1" style="height:70px;">
                          <label class="font-weight-bold" for="validationTextarea">(2).請輸入中文名稱
                            <span class="border p-1 mx-2 border-danger text-danger">
                              必填
                            </span>
                          </label>
                          <input type="text" class="form-control form-control-sm" autocomplete="off"
                            id="unitInputName" v-model.trim="unitValue.name">
                        </div>
                        <div class="d-flex hint-grop flex-wrap canTouch" id="hint-grop-part">
                          <span v-for="(item,index) in unitHint" :key="index"
                            class="hint-item"
                            id="hint-item1" :value="item.name"
                            @click="setUnitHint(item)">{{ item.name }}</span>
                        </div>
                      </div>
                      <div class="col-12 mb-4">
                        <div class="form-group mb-1">
                          <label class="font-weight-bold" for="validationTextarea">(3).請輸入外文(英/日)名稱</label>
                          <input type="text" class="form-control form-control-sm" autocomplete="off"
                            id="unitInputNameEn"
                            v-model.trim="unitValue.nameEn">
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-row">
                          <div class="col d-flex">
                            <a class="text-white btn addBtn px-3" @click="editMagazineNode()">
                              <i class="fas fa-chevron-left mr-2"></i>
                              <span class="d-none d-lg-inline-block">Pre Step</span>
                            </a>
                          </div>
                          <div class="col d-flex justify-content-center">
                            <a class="text-white btn editBtn px-5"
                              @click="unitSubmit()">
                              <span v-if="isEdit">Update</span>
                              <span v-if="!isEdit">Submit</span>
                            </a>
                          </div>
                          <div class="col d-flex justify-content-end" v-if="content !== []">
                            <a class="text-white btn addBtn px-3"
                              @click="addSectionNode()">
                              <span class="d-none d-lg-inline-block">Next Step</span>
                              <i class="fas fa-angle-right ml-2"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Section -->
              <div class="Section" v-if="editPage === 3">
                <div class="card border-0">
                  <div class="card-body">
                    <div class="mb-0 p-0 d-flex justify-content-between">
                      <h5 class="card-title">Step3. Part</h5>
                      <a class="px-2 canTouch" @click="editMode = !editMode">
                        <i class="fas fa-times font-weight-bold" style="font-size:1.5em;"></i>
                      </a>
                    </div>
                    <div class="form-row mb-4">
                      <div class="col-12 mb-3">
                        <label class="font-weight-bold" for="SectioninputLayer">(1).請選擇Unit
                          <span class="border p-1 mx-2 border-danger text-danger">必填</span>
                        </label>
                        <select :disabled="isEdit"
                          class="custom-select custom-select-sm" id="SectioninputLayer" v-model="sectionValue.unitLayer">
                          <option  value="" disabled="disabled" selected="selected">-- select an option --</option>
                          <option v-for="(item,index) in content" :key="index" :value="index">{{ item.unit }}-{{ item.name }}</option>
                        </select>
                      </div>
                      <div class="col-12 mb-1">
                        <div class="form-group">
                          <label class="font-weight-bold" for="validationTextarea">(2).請輸入中文名稱
                            <span class="border p-1 mx-2 border-danger text-danger">必填</span>
                          </label>
                          <input type="text" class="form-control form-control-sm" id="sectionInputName" autocomplete="off"
                            v-model.trim="sectionValue.name" value="">
                        </div>
                        <div class="d-flex hint-grop mb-3 flex-wrap canTouch" id="hint-grop">
                          <span v-if="sectionValue.unitLayer!=null" class="hint-item" @click="setSectionHintInUnit()">
                            {{ content[sectionValue.unitLayer].name }}
                          </span>
                          <span v-for="(item,index) in sectionHint" :key="index"
                            class="hint-item" :value="item.name" @click="setSectionHint(index)">
                            {{ item.name }}
                          </span>
                        </div>

                      </div>
                      <div class="col-12 mb-1">
                        <div class="form-group">
                          <label class="font-weight-bold" for="validationTextarea">(3).請輸入外文(英/日)名稱
                          </label>
                          <input type="text" class="form-control form-control-sm" id="sectionInputNameEn" autocomplete="off"
                            v-model.trim="sectionValue.nameEn">
                        </div>
                      </div>
                      <div class="col-12" v-show="jsonData.type === 'book'">
                        <div class="form-row mb-3">
                          <div class="col-12 col-lg-3">
                            <div class="form-group mb-0 d-flex flex-row align-items-center">
                              <p class="col-form-label pt-0 d-flex flex-wrap"> (3).上傳檔案</p>
                            </div>
                          </div>
                          <div class="col-12 col-lg-9">
                            <div class="custom-file mr-2 uploadForm">
                              <input type="file" class="custom-file-input" id="customFile" name="file-to-upload"
                                :disabled="sectionValue.name === null || !isEdit"
                                ref="sectionFile" @change="uploadSectionFile" accept="video/*,audio/*">
                              <label class="custom-file-label" for="customFile">{{ sectionValue.file.fileName }}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 mt-4">
                        <div class="form-row">
                          <div class="col d-flex justify-content-start">
                            <a class="text-white btn addBtn px-3" @click="addUnitNode()">
                              <i class="fas fa-chevron-left mr-2"></i>
                              <span class="d-none d-lg-inline-block">Pre Step</span>
                            </a>
                          </div>
                          <div class="col d-flex justify-content-center">
                            <a class="text-white btn editBtn px-5" @click="sectionSubmit()">
                              <span v-if="isEdit">Update</span>
                              <span v-if="!isEdit">Submit</span>
                            </a>
                          </div>
                          <div class="col d-flex justify-content-end" v-if="content !== [] && jsonData.type === 'magazine'">
                            <a class="text-white btn addBtn px-3" @click="addPartNode()">
                              <span class="d-none d-lg-inline-block">Next Step</span>
                              <i class="fas fa-angle-right ml-2"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Part -->
              <div class="Part" v-if="editPage === 4">
                <div class="singleParts card border-0">
                  <div class="card-body pb-0">
                    <div class="row">
                      <div class="col">
                        <div class="mb-0 p-0 d-flex justify-content-between">
                          <h5 class="card-title">
                            Step4. Lession
                          </h5>
                          <a class="px-2 canTouch" @click="editMode = !editMode">
                            <i class="fas fa-times font-weight-bold" style="font-size:1.5em;"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="row pb-2 border-bottom">
                      <div class="col">
                        <span class="mr-2 font-weight-bold">
                          (1).請先選擇層級
                          <span class="border p-1 mx-2 border-danger text-danger">
                            必填
                          </span>
                        </span>
                        <div class="flex-grow-1 mt-2">
                          <div class="form-group m-0 row mb-0">
                            <span class="col-2 col-form-label d-none d-lg-block">Unit</span>
                            <select class="custom-select custom-select-sm col-12 col-lg-10" id="Layer1" :disabled="isEdit"
                              v-model="partValue.selectedUnitIndex">
                              <option  value="" disabled="disabled" selected="selected">
                                -- select an option --
                              </option>
                              <option v-for="(item,index) in content" :key="index" :value="index">
                                {{ item.unit }}-{{ item.name }}
                              </option>
                            </select>
                          </div>
                          <div class="form-group m-0 row">
                            <span class="col-2 col-form-label d-none d-lg-block">Section</span>
                            <select class="custom-select custom-select-sm col-12 col-lg-10"  id="Layer2" :disabled="isEdit"
                              v-model="partValue.selectedSectionIndex">
                              <option  value="" disabled="disabled" selected="selected">
                                -- select an option --
                              </option>
                              <option v-for="(item,index) in sectionData" :key="index" :value="index">
                                {{ item.name }}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row pt-2 pb-2 mb-1">
                      <div class="col">
                        <div class="form-group mb-0">
                          <label for="validationTextarea" class="font-weight-bold">(2).請輸入課程單元名稱
                            <span class="border p-1 mx-1 border-danger text-danger">必填</span>
                          </label>
                          <a class="btn addBtn text-white font-weight-light px-1 py-0"
                            v-if="partValue.selectedUnitIndex !== null && partValue.selectedSectionIndex !== null"
                            @click="partValue.isMulti = !partValue.isMulti">
                            <i class="fas fa-plus"></i>
                            <span>Multi Items</span>
                          </a>
                          <input type="text" class="form-control form-control-sm" id="inputNamePart" autocomplete="off"
                            v-model.trim="partValue.name" v-on:keyup.13="partSubmit">
                        </div>
                        <div class="d-flex hint-grop flex-wrap canTouch" id="hint-grop-part">
                          <span v-for="(item,index) in partHint" :key="index" class="hint-item"
                            id="hint-item1" :value="item.name" @click="setPartHint(item)">{{ item.name }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-lg-4">
                        <label>(3).檔案/網址</label>
                        <div class="switch-radio part-switch">
                          <fieldset class="radio-switch">
                            <input type="radio" class="custom-radio-control show-for-sr" name="project" :value="false"
                              id="project_File" v-model="partValue.isYoutube" checked>
                            <label for="project_File">File</label>
                            <input type="radio" class="custom-radio-control show-for-sr" name="project" :value="true"
                              id="project_Url" v-model="partValue.isYoutube">
                            <label for="project_Url">YouTube</label>
                          </fieldset>
                        </div>
                      </div>
                      <div class="col-lg-8">
                        <div class="custom-file mr-2 uploadForm" v-if="!partValue.isYoutube">
                          <input type="file" class="custom-file-input form-control-sm" id="customFile" name="file-to-upload"
                            accept="video/*,audio/*" ref="files" @change="uploadFile" :disabled="partValue.name === '' || !isEdit">
                          <label class="custom-file-label" for="customFile">{{ partValue.fileName }}</label>
                          <p class="fs12 text-right mt-1">檔案上傳限制500MB</p>
                        </div>

                        <input v-if="partValue.isYoutube" :disabled="partValue.name === '' || !isEdit"
                          class="form-control" type="text" placeholder="https://"
                          v-model.trim="partValue.fileUrl">
                      </div>
                    </div>
                    <div class="form-row mt-4">
                      <div class="col d-flex">
                        <a class="text-white btn addBtn px-3" @click="addSectionNode()">
                          <i class="fas fa-chevron-left mr-2"></i>
                          <span class="d-none d-lg-inline">Pre Step</span>
                        </a>
                      </div>
                      <div class="col d-flex justify-content-center">
                        <a class="text-white btn editBtn px-5"
                          @click="partSubmit()">
                          <span v-if="isEdit">Update</span>
                          <span v-if="!isEdit">Submit</span>
                        </a>
                      </div>
                      <div class="col d-flex justify-content-end" v-if="content !== []">
                        <a class="text-white btn addBtn px-3"
                          @click="editMode = !editMode">
                          <span class="d-none d-lg-inline-block">Finish</span>
                          <i class="fas fa-angle-right ml-2"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="multiParts w-100 h-100 position-absolute p-3 pr-5"
                  v-if="partValue.isMulti">
                  <div class="card border-0 h-100">
                    <div class="card-body overflow-auto bg-white">

                      <p class="m-0">Unit: {{ content[partValue.selectedUnitIndex].name }}</p>
                      <p>Part: {{ content[partValue.selectedUnitIndex].sections[partValue.selectedSectionIndex].name }}</p>

                      <form action="javascript:void(0);" onSubmit="return false;">
                        <div class="form-row mb-1" v-for="(item, index) in partValue.list" :key="index">
                          <div class="col-3">
                            <input type="text" class="form-control form-control-sm"
                              :id="'inputNamePart' + index" v-model.trim="item.name">
                          </div>
                          <div class="col-3">
                            <div class="switch-radio multiParts-switch">
                              <fieldset class="radio-switch">

                                <input type="radio" class="custom-radio-control show-for-sr" :name="'project' + index" value="file"
                                  :id="'project_FileMulti' + index" v-model="item.selectYoutube" checked>
                                <label :for="'project_FileMulti' + index">File</label>

                                <input type="radio" class="custom-radio-control show-for-sr" :name="'project' + index" value="url"
                                  :id="'project_UrlMulti' + index" v-model="item.selectYoutube">
                                <label :for="'project_UrlMulti' + index">YouTube</label>

                              </fieldset>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="custom-file uploadForm" v-if="item.selectYoutube === 'file'">
                              <input type="file" class="custom-file-input input-group-sm"
                                :id="'customFile' + index" :slot="'file-to-upload' + index"
                                :ref="'multiFile' + index" @change="uploadFileMulti(index)"
                                :disabled="item.name === ''" accept="video/*,audio/*"
                                >
                              <label :id="'multiFileinput' + index" class="custom-file-label mb-0"
                                :ref="'multiFileinput' + index" :for="'customFile' + index">Choose file
                              </label>
                            </div>
                            <input class="form-control form-control-sm" type="text" placeholder="https://"
                              v-model="item.file" v-if="item.selectYoutube === 'url'" :disabled="item.name === ''">
                          </div>
                          <div class="col-2 d-flex">
                            <a class="btn addBtn text-white mx-1" @click="delItem(index)">
                              <i class="far fa-trash-alt"></i>
                            </a>
                            <a class="btn addBtn text-white mx-1" @click="addItem(index)"
                              v-if="partValue.list.lastIndexOf(item) == partValue.list.length - 1">
                              <i class="fas fa-plus"></i>
                            </a>
                          </div>
                        </div>
                      </form>

                    </div>
                    <div class="card-footer bg-white">
                      <div class="btns d-flex justify-content-between">
                        <a class="btn addBtn text-white mx-1" @click.prevent="addItemToList()">ADD</a>
                        <a class="btn primaryBlue text-white mx-1"  @click="partValue.isMulti = !partValue.isMulti">Close</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Sort -->
              <div class="Sort" v-if="editPage === 5">
                <div class="bg-light m-0 d-flex p-3 px-5 title justify-content-between">
                  <h5 class="m-0 font-weight-bold text-primaryBlue">SORT</h5>
                  <a class="canTouch" @click="editMode = !editMode">
                    <i class="fas fa-times font-weight-bold text-primaryBlue" style="font-size:1.5em;"></i>
                  </a>
                </div>
                <MagazineSort :sortData="sortData"/>
              </div>

            </div>

            <!-- 未編輯區塊 -->
            <div v-if="editMode">
              <div class="position-absolute text-center text-primaryBlue"
                style="top:50%; left:50%;transform: translate(-50%,-50%);">
                <h5 class="m-0">
                  <i class="fas fa-plus mr-1"></i>
                  <span>點選左側進行編輯</span>
                </h5>
              </div>
            </div>

          </div>
        </div>
    </div>

    <!-- 刪除確認視窗 -->
    <Confirm v-if="deleteMode" v-on:confirm="confirm" />

    <!-- 儲存按鈕 -->
    <div class="saveBtn position-absolute">
      <a @click="saveForSubmit()"
        class="canTouch btn addBtn px-4 pt-2 pb-2 text-white d-flex justify-content-center align-items-center">
        <i class="fas fa-save mr-1"></i>
        <p class="m-0">SAVE</p>
      </a>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import MagazineSort from './SortSection'
import notification from '@/components/modules/notification'
import typeList from '@/components/modules/typeList'
import { mapGetters, mapActions } from 'vuex'
import Confirm from './Confirm'
import Breadcrumb from './Breadcrumb'
import FloatButton from '@/components/modules/FloatButton'

export default {
  name: 'EditSection',

  data () {
    return {
      timeout: null,
      autoSave: null,
      // page
      editMode: true,
      editPage: 1,
      // state
      isEdit: false,
      // scroll Top
      treeScrollTop: 0,
      // data
      jsonData: {
        id: '',
        type: '',
        logo: '',
        title: '',
        titleEn: '',
        publish_date: '',
        description: '',
        discount: '',
        price: '',
        cover: '',
        url: 'https://store.liveabc.com/',
        content: []
      },
      // jsonData: null,
      // magazine
      magazineValue: {
        title: '',
        titleEn: 'LiveABC BOOK',
        type: 'magazine',
        selected: null,
        yearSelect: new Date().getFullYear(),
        monthSelect: new Date().getMonth() + 2,
        file: {
          fileName: 'Choose File',
          fileUrl: null
        }
      },
      // unit
      unitValue: {
        unitType: 'number',
        layer: 0,
        unit: 1,
        name: '',
        nameEn: ''
      },
      // section
      sectionValue: {
        name: null,
        nameEn: null,
        unitLayer: 0,
        sectionLayer: 0,
        file: {
          fileName: 'Choose File',
          isUploadFile: false
        }
      },
      // part
      partValue: {
        selectedUnitIndex: 0,
        selectedSectionIndex: 0,
        selectedPartIndex: 0,
        name: '',
        fileUrl: null,
        fileName: 'Choose File',
        fileType: '.mp3',
        isYoutube: false,
        isMulti: false,
        list: [
          { part: '', name: '課文朗讀', nameEn: '', type: 'file', file: '', icon: '', selectYoutube: 'file' },
          { part: '', name: '單字例句', nameEn: '', type: 'file', file: '', icon: '', selectYoutube: 'file' },
          { part: '', name: '課程講解', nameEn: '', type: 'file', file: '', icon: '', selectYoutube: 'file' }
        ]
      },
      // deleted
      deleteMode: false,
      deletedValue: null,
      // sort
      sortData: null
    }
  },

  components: {
    MagazineSort,
    Confirm,
    Breadcrumb,
    FloatButton
  },

  mixins: [
    notification,
    typeList
  ],

  computed: {
    ...mapGetters([
      'getDateTime',
      'lastModifiedTime',
      'authorized'
    ]),

    // data
    content () {
      return this.jsonData.id !== '' ? this.jsonData.content : null
    },

    sectionData () {
      return this.content[this.partValue.selectedUnitIndex] ? this.content[this.partValue.selectedUnitIndex].sections : null
    }
  },
  created () {
    // this.$set(this, 'jsonData', {
    //   id: '',
    //   type: '',
    //   logo: '',
    //   title: '',
    //   titleEn: '',
    //   publish_date: '',
    //   description: '',
    //   discount: '',
    //   price: '',
    //   cover: '',
    //   url: 'https://store.liveabc.com/',
    //   content: []
    // })
  },
  async mounted () {
    await this.checkAuthorized()
    if (this.$route.params.book && this.authorized) {
      this.getJson()
    }
    this.intervalSave()
  },

  beforeDestroy () {
    clearTimeout(this.timeout)
  },

  destroyed () {
    clearInterval(this.autoSave)
  },

  methods: {
    ...mapActions({
      doSave: 'dataPost',
      doPatch: 'dataPatch'
    }),
    checkAuthorized () {
      let self = this
      if (!self.authorized) {
        self.$router.push({ name: 'login' })
      } else {
        self.$store.dispatch('getProfile')
      }
    },
    getJson () {
      let self = this
      if (self.$route.params.book && self.authorized) {
        axios.get(`/ebooks/${self.$route.params.book}`)
        .then((response) => {
          let data = response.data
          self.jsonData = data
          self.$store.commit('LASTMODIFIED', (Date.parse(response.headers['last-modified'])).valueOf())
        })
      }
    },

    // magazine
    creatUuid () {
      const uuidv4 = require('uuid/v4')
      this.jsonData.id = uuidv4()
    },
    magazineSubmit () {
      let self = this
      let selected = self.magazineValue.selected
      let yearSelect = self.magazineValue.yearSelect
      let monthSelect = self.magazineValue.monthSelect
      var nextStep = () => {
        self.notification_Success('Magazine Submit!')
        self.editPage = 2
      }

      if (self.jsonData.title === '' && yearSelect && monthSelect && self.magazineValue.type === 'book' && self.magazineValue.title) {
        // add book
        self.jsonData.type = self.magazineValue.type
        monthSelect < 10 ? self.jsonData.publish_date = yearSelect + '.0' + monthSelect : self.jsonData.publish_date = yearSelect + '.' + monthSelect

        self.jsonData.title = self.magazineValue.title
        self.jsonData.titleEn = self.magazineValue.titleEn
        nextStep()
      } else if (self.jsonData.title === '' && yearSelect && monthSelect && self.magazineValue.type === 'magazine' && selected) {
        // add magazine
        self.jsonData.type = self.magazineValue.type
        monthSelect < 10 ? self.jsonData.publish_date = yearSelect + '.0' + monthSelect : self.jsonData.publish_date = yearSelect + '.' + monthSelect

        self.jsonData.title = selected.title
        self.jsonData.titleEn = selected.titleEn
        self.jsonData.logo = selected.logo

        nextStep()
      } else if (self.jsonData.title !== '') {
        // edit
        if (self.magazineValue.type === 'book') {
          self.jsonData.title = self.magazineValue.title
          self.jsonData.titleEn = self.magazineValue.titleEn
        } else if (self.magazineValue.type === 'magazine') {
          self.jsonData.title = selected.title
          self.jsonData.titleEn = selected.titleEn
          self.jsonData.logo = selected.logo
        }
        monthSelect < 10 ? self.jsonData.publish_date = yearSelect + '.0' + monthSelect : self.jsonData.publish_date = yearSelect + '.' + monthSelect

        nextStep()
      } else {
        self.notification_Attention()
      }
    },
    uploadbookCover () {
      let self = this
      var uploadedFile = new File([self.$refs.bookCover.files[0]], self.$refs.bookCover.files[0].name)
      self.magazineValue.file.fileName = uploadedFile.name

      let formData = new FormData()
      formData.append('file', uploadedFile)

      axios.post(`/ebooks/upload/${self.jsonData.id}`, formData)
        .then((response) => {
          self.magazineValue.file.fileUrl = response.data.url
          self.jsonData.cover = self.$refs.bookCover.files[0].name
          self.notification_Success('Upload Success!')
        })
    },

    // Unit
    unitTypeSwitch (val) {
      let self = this
      if (val) {
        self.unitValue.unitType = val
        switch (val) {
          case 'number':
            if (self.content.length > 0 && !self.isEdit) {
              var filteredNum = self.content.filter((value) => { return Number((value.unit)) })
              let arr = []
              for (let i = 0; i < filteredNum.length; i++) {
                arr.push(Number(filteredNum[i].unit))
              }
              let currentIndex = Math.max(...arr)
              currentIndex === -Infinity ? currentIndex = 0 : null
              self.unitValue.unit = currentIndex + 1
            } else {
              self.unitValue.unit = 1
            }
            break
          case 'text':
            self.unitValue.unit = ''
            break
          case 'none':
            self.unitValue.unit = ''
            break
        }
      }
    },
    calculateNumber (val) {
      let self = this
      if (val) {
        self.unitValue.unit ++
      } else {
        self.unitValue.unit > 1 ? self.unitValue.unit -- : null
      }
    },
    unitSubmit () {
      let self = this
      let unitName = self.unitValue.unit
      let inputName = self.unitValue.name
      let inputNameEn = self.unitValue.nameEn ? self.unitValue.nameEn : self.unitValue.name

      // 判斷重複
      let hasUnit = self.content.findIndex(x => x.unit === unitName)
      let hasName = self.content.findIndex(x => x.name === inputName)

      if (!self.isEdit && inputName !== '' && unitName !== '' && hasUnit === -1 && hasName === -1) {
        // add
        let uniqid = require('uniqid')
        let unitId = uniqid()

        self.content.push({
          id: unitId,
          unit: unitName.toString(),
          name: inputName,
          nameEn: inputNameEn,
          file: '',
          type: 'folder',
          icon: '',
          sections: []
        })

        self.notification_Success('Unit Submit!')
        self.unitValue.name = ''
        self.unitValue.nameEn = ''

        // unit ++
        !isNaN(Number((unitName))) ? self.unitValue.unit ++ : null
      } else if (self.isEdit) {
        // edit
        let index = self.unitValue.layer

        self.content[index].unit = unitName
        self.content[index].name = inputName
        self.content[index].nameEn = inputNameEn
        self.notification_Success('Unit Updated!')
      } else {
        self.notification_Attention()
      }
    },
    setUnitHint (item) {
      this.unitValue.name = item.name
    },

    // section
    setSectionHintInUnit () {
      let self = this
      self.sectionValue.name = self.content[self.sectionValue.unitLayer].name
    },
    setSectionHint (index) {
      let self = this
      self.sectionValue.name = self.sectionHint[index].name
    },
    sectionSubmit () {
      let self = this
      let unitLayer = self.sectionValue.unitLayer
      let sectionLayer = self.sectionValue.sectionLayer
      let sectionPath = self.content[unitLayer].sections
      let inputname = self.sectionValue.name
      let inputnameEn = self.sectionValue.nameEn ? self.sectionValue.nameEn : self.sectionValue.name
      let hasName = sectionPath.findIndex(x => x.name === inputname)

      if (!self.isEdit && inputname && hasName === -1) {
        // add
        sectionPath.push({
          section: '',
          name: inputname,
          nameEn: inputnameEn,
          file: '',
          type: 'folder',
          icon: '',
          parts: []
        })

        // 重新排列section
        for (let i = 0; i < sectionPath.length; i++) {
          sectionPath[i].section = (i + 1).toString()
        }

        self.notification_Success('Section Submit!')
      } else if (self.isEdit) {
        // edit
        sectionPath[sectionLayer].name = inputname
        sectionPath[sectionLayer].nameEn = inputnameEn
        self.jsonData.type === 'book' && self.sectionValue.file.isUploadFile ? sectionPath[sectionLayer].file = self.$refs.sectionFile.files[0].name : ''
        self.notification_Success('Section Updated!')
      } else {
        self.notification_Attention()
      }
      // 清空
      self.sectionValue.name = null
      self.sectionValue.nameEn = null
      self.$refs.sectionFile ? self.$refs.sectionFile.value = '' : null
      self.sectionValue.file.fileName = 'Choose File'
      self.sectionValue.file.isUploadFile = false
    },
    uploadSectionFile () {
      let self = this
      let layer1 = self.sectionValue.unitLayer
      let layer2 = self.sectionValue.sectionLayer
      let sectionPath = self.content[layer1].sections[layer2]
      let uploadedFile = self.$refs.sectionFile.files[0]
      self.sectionValue.file.fileName = uploadedFile.name

      let formData = new FormData()
      formData.append('file', uploadedFile)

      axios.post(`/ebooks/upload/${self.jsonData.id}/${self.content[layer1].id}`, formData, { headers: { 'Content-Type': 'multipart/form-data' } })
        .then((response) => {
          if (response.data.url) {
            self.sectionValue.file.isUploadFile = true
            sectionPath.file = uploadedFile.name
          }
        })
    },

    // part
    setPartHint (item) {
      this.partValue.name = item.name
    },
    partSubmit () {
      let layer1 = this.partValue.selectedUnitIndex
      let layer2 = this.partValue.selectedSectionIndex
      let layer3 = this.partValue.selectedPartIndex
      let partPath = this.content[layer1].sections[layer2].parts
      let hasName = partPath.findIndex(x => x.name === this.partValue.name)

      if (!this.isEdit) {
        // add
        if (this.partValue.name !== '' && hasName === -1) {
          partPath.push({
            part: '',
            name: this.partValue.name,
            nameEn: '',
            file: '',
            type: 'file',
            icon: ''
          })

          for (let i = 0; i < partPath.length; i++) {
            partPath[i].part = (i + 1).toString()
          }

          this.partValue.name = ''
          this.$refs.files ? this.$refs.files.value = '' : null
          this.partValue.fileName = 'Choose file'
          this.partValue.fileUrl = null

          this.notification_Success('Lesson Submit!')
        } else {
          this.notification_Attention()
        }
      } else {
        // edit
        if (!this.partValue.isYoutube && hasName === -1) {
          // mp3/mp4
          partPath[layer3].name = this.partValue.name

          this.notification_Success('Lesson Updated!')
          for (let i = 0; i < partPath.length; i++) {
            partPath[i].part = (i + 1).toString()
          }
        } else if (this.partValue.isYoutube && hasName === -1) {
          // youtube
          partPath[layer3].name = this.partValue.name
          partPath[layer3].file = this.partValue.fileUrl

          this.notification_Success('Lesson Updated!')
          for (let i = 0; i < partPath.length; i++) {
            partPath[i].part = (i + 1).toString()
          }
        } else if (this.partValue.isYoutube && hasName > -1) {
          // youtube
          partPath[layer3].file = this.partValue.fileUrl

          this.notification_Success('Lesson Updated!')
        }
        this.isEdit = false
      }
    },
    uploadFile () {
      let self = this
      let maxsize = 500 * 1024 * 1024 // 設定上傳大小500M
      let layer1 = self.partValue.selectedUnitIndex
      let layer2 = self.partValue.selectedSectionIndex
      let layer3 = self.partValue.selectedPartIndex
      let partPath = self.content[layer1].sections[layer2].parts
      let unitId = self.content[layer1].id
      let folderName = self.content[layer1].sections[layer2].name.trim()
      let uploadedFile = self.$refs.files.files[0]

      if (uploadedFile.size > maxsize) {
        self.notification_Attention('檔案請小於500MB')
        self.$refs.files.value = null
      } else if ((uploadedFile.size < maxsize) && (self.$refs.files)) {
        self.partValue.fileName = self.$refs.files.files[0].name

        let formData = new FormData()
        formData.append('folder', folderName)
        formData.append('file', uploadedFile)

        axios.post(`/ebooks/upload/${self.jsonData.id}/${unitId}`, formData)
          .then(() => {
            partPath[layer3].file = uploadedFile.name
            self.notification_Success('File Upload!')
          })
          .catch((error) => {
            console.log(error)
          })
      }
    },

    // part multi
    delItem (index) {
      let self = this
      self.partValue.list.length > 1 ? self.partValue.list.splice(index, 1) : null
    },
    addItem () {
      let self = this
      self.partValue.list.push(
        {part: '', name: '', nameEn: '', type: 'file', fileType: '.mp3', file: '', icon: '', selectYoutube: 'file'}
      )
    },
    addItemToList () {
      let self = this
      let Layer1 = self.partValue.selectedUnitIndex
      let Layer2 = self.partValue.selectedSectionIndex
      let partPath = self.content[Layer1].sections[Layer2].parts
      let partList = self.partValue.list

      // 1.放進part陣列
      for (let idx in partList) {
        partPath.findIndex(x => x.name === partList[idx].name) === -1 && partList[idx].name !== '' ? partPath.push({...partList[idx]}) : null
      }

      // 2.重新排列part值
      for (let j = 0; j < partPath.length; j++) {
        partPath[j].part = (j + 1).toString()
      }

      // 3.清空url
      for (let k = 0; k < partList.length; k++) {
        if (partList[k].selectYoutube === 'file') {
          self.$refs['multiFileinput' + k][0].innerText = 'Choose File'
          self.$refs['multiFile' + k][0] ? self.$refs['multiFile' + k][0].value = '' : null
          partList[k].file = ''
        } else {
          partList[k].file = ''
        }
      }

      self.notification_Success('Success!')
    },
    uploadFileMulti (index) {
      let self = this
      let Layer1 = self.partValue.selectedUnitIndex
      let Layer2 = self.partValue.selectedSectionIndex

      let unitId = self.content[Layer1].id
      let folderPath = self.content[Layer1].sections[Layer2]

      let uploadedFile = self.$refs['multiFile' + index][0].files[0]

      self.$refs['multiFileinput' + index][0].innerText = uploadedFile.name
      let fileType = uploadedFile.type.indexOf('mp3') > -1 || uploadedFile.type.indexOf('audio') > -1 ? '.mp3' : '.mp4'
      let newFile = new File([uploadedFile], self.partValue.list[index].name + fileType)

      let formData = new FormData()
      formData.append('folder', folderPath.name)
      formData.append('file', newFile)

      axios.post(`/ebooks/upload/${self.jsonData.id}/${unitId}`, formData)
        .then((response) => {
          if (response.data.url) {
            self.partValue.list[index].file = self.partValue.list[index].name + fileType
            self.notification_Success('File Upload!')
          }
        })
    },

    // Tree Add
    addMagazineNode () {
      let self = this
      self.editPage = 1
      self.editMode = false
      self.jsonData.id === '' ? self.creatUuid() : null
    },
    addUnitNode () {
      let self = this
      self.editPage = 2
      self.editMode = false
      self.isEdit = false
      self.unitValue.name = ''
      self.unitValue.nameEn = ''
      self.unitTypeSwitch('number')
    },
    addSectionNode (index) {
      let self = this
      self.editPage = 3
      self.editMode = false
      self.isEdit = false

      index ? self.sectionValue.unitLayer = index : self.sectionValue.unitLayer = 0
      self.sectionValue.name != null ? self.sectionValue.name = null : null
      self.sectionValue.nameEn != null ? self.sectionValue.nameEn = null : null
      self.sectionValue.file.fileName = 'Choose File'
      self.$refs.sectionFile ? self.$refs.sectionFile.value = '' : null
      self.sectionValue.file.isUploadFile = false
    },
    addPartNode (index, section) {
      let self = this
      self.editPage = 4
      self.editMode = false
      self.isEdit = false
      self.partValue.name = ''

      index ? self.partValue.selectedUnitIndex = index : self.partValue.selectedUnitIndex = 0
      let indexofSection = section - 1 ? section - 1 : 0
      self.partValue.selectedSectionIndex = indexofSection
      self.partValue.fileName = 'Choose file'
      self.partValue.fileUrl = null
      self.partValue.isYoutube = false
      self.$refs.files ? self.$refs.files.value = '' : null
    },

    // Tree Edit
    editMagazineNode () {
      let self = this
      self.editPage = 1
      self.editMode = false

      self.magazineValue.type = self.jsonData.type
      self.magazineValue.yearSelect = self.jsonData.publish_date.split('.')[0]
      self.magazineValue.monthSelect = Number(self.jsonData.publish_date.split('.')[1])

      self.magazineValue.file.fileName = self.jsonData.cover ? self.jsonData.cover : 'Choose File'

      if (self.jsonData.type === 'book') {
        self.magazineValue.title = self.jsonData.title
        self.magazineValue.titleEn = self.jsonData.titleEn
        self.$refs.bookCover ? self.$refs.bookCover.value = '' : null
      } else if (self.jsonData.type === 'magazine') {
        let index = self.typeList.findIndex(x => x.title === self.jsonData.title)
        if (index === -1) {
          self.magazineValue.selected = {type: self.jsonData.type, title: self.jsonData.title, titleEn: self.jsonData.titleEn, logo: self.jsonData.logo, cover: self.jsonData.cover, url: 'https://www.liveabc.com'}
        } else {
          self.magazineValue.selected = self.typeList[index]
        }
      }
    },
    editUnitNode (item) {
      let self = this
      self.editPage = 2
      self.editMode = false
      self.isEdit = true

      self.$set(this, 'unitValue', {
        layer: self.content.findIndex(x => x.id === item.id),
        unit: item.unit,
        name: item.name,
        nameEn: item.nameEn
      })

      if (!isNaN(Number(item.unit)) && item.unit !== '') {
        self.unitValue.unitType = 'number'
      } else if (isNaN(Number(item.unit)) && item.unit !== '') {
        self.unitValue.unitType = 'text'
      } else if (item.unit === '') {
        self.unitValue.unitType = 'none'
      }
    },
    editSectionNode (id, section) {
      let self = this
      self.editPage = 3
      self.editMode = false
      self.isEdit = true

      self.$set(this, 'sectionValue', {
        unitLayer: self.content.findIndex(x => x.id === id),
        sectionLayer: section.section - 1,
        name: section.name,
        nameEn: section.nameEn,
        file: {
          fileName: section.file !== '' ? section.file : 'Choose File',
          isUploadFile: false
        }
      })

      // 清空file input
      self.$refs.sectionFile && section.file === '' ? self.$refs.sectionFile.value = '' : null
    },
    editPartNode (id, section, part) {
      let self = this
      self.editPage = 4
      self.editMode = false
      self.isEdit = true
      self.partValue.isMulti = false

      self.partValue.name = part.name

      // 清空file input
      self.$refs.files && part.file === '' ? self.$refs.files.value = '' : null

      self.partValue.selectedUnitIndex = self.content.findIndex(x => x.id === id)
      self.partValue.selectedSectionIndex = section - 1
      self.partValue.selectedPartIndex = part.part - 1

      let partFile = self.content[self.partValue.selectedUnitIndex].sections[self.partValue.selectedSectionIndex].parts[self.partValue.selectedPartIndex].file

      // 判斷是否file是否是mp3/mp4/youtube
      if (partFile.indexOf('mp3') > -1) {
        self.partValue.isYoutube = false
        self.partValue.fileType = '.mp3'
        self.partValue.fileName = partFile
        self.partValue.fileUrl = null
      } else if (partFile.indexOf('mp4') > -1) {
        self.partValue.isYoutube = false
        self.partValue.fileType = '.mp4'
        self.partValue.fileName = partFile
        self.partValue.fileUrl = null
      } else if (partFile.indexOf('https') > -1) {
        self.partValue.isYoutube = true
        self.partValue.fileType = '.mp4'
        self.partValue.fileName = 'Choose file'
        self.partValue.fileUrl = partFile
      } else {
        self.partValue.isYoutube = false
        self.partValue.fileType = '.mp3'
        self.partValue.fileName = 'Choose file'
        self.partValue.fileUrl = null
      }
    },

    // TreeDelete
    deleteNode (id, section, part) {
      let self = this
      self.deleteMode = true
      self.deleteMode = true

      self.$set(this, 'deletedValue', {
        unit: self.content.findIndex(x => x.id === id),
        section: section ? Number(section) - 1 : null,
        part: part ? Number(part.part) - 1 : null
      })
    },

    // to Top
    setScrollTop (e) {
      this.treeScrollTop = e.srcElement.scrollTop
    },
    scrollToTop () {
      let mainList = this.$refs.mainList
      mainList.scrollTo(0, 0)
    },

    // toggleTree
    fullscreen (fullscreen) {
      let self = this
      let sectionTree = self.$refs.sectionTree
      let partTree = self.$refs.partTree

      if (fullscreen) {
        for (let i = 0; i < sectionTree.length; i++) {
          self.$refs.sectionTree[i].classList.add('active')
        }
        for (let j = 0; j < partTree.length; j++) {
          self.$refs.partTree[j].classList.add('active')
        }
      } else {
        for (let i = 0; i < sectionTree.length; i++) {
          self.$refs.sectionTree[i].classList.remove('active')
        }
        for (let j = 0; j < partTree.length; j++) {
          self.$refs.partTree[j].classList.remove('active')
        }
      }
    },
    toggleTree (index, section) {
      let self = this
      if (section) {
        let sectionIndex = section.section - 1
        self.$refs.sectionTree[index].childNodes[sectionIndex].lastChild.classList.toggle('active')
        event.target.classList.toggle('caret-down')
      } else {
        self.$refs.sectionTree[index].classList.toggle('active')
        self.$refs.unitTreecaret[index].classList.toggle('caret-down')
      }
    },

    // Delete Comfirm
    confirm (confirm) {
      let self = this
      confirm === false ? self.deleteMode = false : self.agreeConfirmDel()
    },
    agreeConfirmDel () {
      let self = this
      self.deleteMode = false

      if (self.deletedValue.part !== null) {
        let deltarget = self.content[self.deletedValue.unit].sections[self.deletedValue.section].parts

        deltarget.splice(self.deletedValue.part, 1)

        // 重新給index
        for (let i = 0; i < deltarget.length; i++) {
          deltarget[i].part = (i + 1).toString()
        }
      } else if (self.deletedValue.part == null && self.deletedValue.section !== null) {
        let deltarget = self.content[self.deletedValue.unit].sections

        deltarget.splice(self.deletedValue.section, 1)

        // 重新給index
        for (let i = 0; i < deltarget.length; i++) {
          deltarget[i].section = (i + 1).toString()
        }
      } else {
        self.content.splice(self.deletedValue.unit, 1)
      }
    },

    // Save
    intervalSave () {
      let equal = require('fast-deep-equal/es6')
      let self = this

      self.timeout = setTimeout(() => {
        self.autoSave = window.setInterval(async () => {
          if (self.jsonData.id === '') {
            return
          }

          if (self.$store.state.lastModified) {
            // 每分鐘儲存/比對依次
            let { data } = await axios.get(`/ebooks/${self.jsonData.id}`)
            if (equal(data, self.jsonData)) {
              return
            }
          }

          self.saveForSubmit()
        }, 1000 * 60)
      }, 1000 * 30)
    },

    async saveForSubmit () {
      let self = this

      for (let i = 0; i < self.content.length; i++) {
        for (let j = 0; j < self.content[i].sections.length; j++) {
          // delete parts
          if (self.content[i].sections[j].parts && self.jsonData.type === 'book') {
            self.content[i].sections[j].parts.length === 0 ? delete self.content[i].sections[j].parts : null
          }
          if (self.content[i].sections[j].parts && self.jsonData.type === 'magazine') {
            for (let k = 0; k < self.content[i].sections[j].parts.length; k++) {
              // delete selectYoutube
              if (self.content[i].sections[j].parts[k].selectYoutube) {
                delete self.content[i].sections[j].parts[k].selectYoutube
              }
            }
          }
        }
      }

      if (self.jsonData.id !== '' && self.jsonData.title !== '' && !self.$store.state.lastModified) {
        // 第一次新增
        await self.doSave({ id: self.jsonData.id, data: JSON.stringify(self.jsonData) })
      } else if (self.jsonData.id !== '' && self.jsonData.title !== '' && self.$store.state.lastModified) {
        // 比對get版本與目前雲端的版本新舊
        axios.get(`/ebooks/${self.jsonData.id}`)
        .then((response) => {
          let WebLastEditTime = Date.parse(response.headers['last-modified']).valueOf()

          if (WebLastEditTime < self.lastModifiedTime || WebLastEditTime === self.lastModifiedTime) {
            self.doPatch({ id: self.jsonData.id, data: JSON.stringify(self.jsonData) })
          } else {
            self.notification_version()
          }
        })
      } else {
        self.notification_Info()
      }
    },

    // Sort
    sortUnit (item) {
      let self = this
      self.editPage = 5
      self.editMode = false
      self.sortData = self.content
    },
    sortSection (item, section) {
      let self = this
      self.editPage = 5
      self.editMode = false
      self.sortData = self.content[self.content.findIndex(x => x.id === item)].sections
    },
    sortPart (item, section, part) {
      let self = this
      self.editPage = 5
      self.editMode = false
      self.sortData = self.content[self.content.findIndex(x => x.id === item)].sections[section - 1].parts
    }
  }

}
</script>

<style lang="scss" scoped>
// all
  .textHide {
    display: none !important;
  }
  a:hover {
    text-decoration: none;
  }
  select::-ms-expand {
      display: none;
  }
  select {
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  .canTouch {
    cursor: pointer;
  }
  ul {
    list-style-type: none;
  }

// Left
  .editSectionLeft {
    height: calc(100vh - 56px);
    background-color: #254556 !important;
    overflow: hidden;
    .DataList {
      .mainList {
        height: calc(100vh - 138px);
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #254556 !important;
        scroll-behavior: smooth;
        padding-bottom: 5rem;
        padding-top: .5rem;

        // firefox hide scroll bar
        -ms-overflow-style: none;
        width: 45vw;
      }
      .mainList::-webkit-scrollbar {
          display: none;
      }
      #myUL {
        margin: 0;
        padding: 0;
        .caret {
          user-select: none;
        }
        .caret::before {
          content: "\25B6";
          color: white;
          display: inline-block;
          margin-right: 6px;
        }
        .caret-down::before {
          transform: rotate(90deg);
        }
        .nested {
          display: block;
        }
        .active {
          display: none;
        }
        span {
          white-space: pre;
        }
      }

    // dropdown
      .dropdown {
        position: relative;
        display: inline-block;
        .dropbtn {
          background-color: #009fe3;
          color: white;
          font-size: 16px;
          border: none;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          a {
            color: black;
            display: block;
            min-width: 90px;
            &:hover {
              background-color: #f1f1f1
            }
          }
        }
        &:hover {
          .dropdown-content {
            display: block;
          }
          .dropbtn {
            background-color: #32bcde;
          }
        }
      }

      // Action
      .magazineActionLi {
        .magazineAction {
          visibility: hidden;
        }
        &:hover {
          .magazineAction {
          visibility: visible;
          }
        }
      }

      .unitActionLi {
        .unitListName {
          max-width: 400px;
          word-break: keep-all;
          white-space: nowrap;
        }
        .unitAction {
          visibility: hidden;
        }
        &:hover {
          .unitAction {
          visibility: visible;
          }
        }
      }

      .sectionActionLi {
        .sectionAction {
          visibility: hidden;
        }
        &:hover {
          .sectionAction {
          visibility: visible;
          }
        }
      }

      .partActionLi {
        .partAction {
          visibility: hidden;
        }
        &:hover {
          .partAction {
          visibility: visible;
          }
        }
      }
    }
  }
  // scroll top btn
  .upBtn {
    bottom: 1%;
    right: 1%;
    background-color: #163C52;
    opacity: 0.4;
    transition: .3s;
    &:hover {
      background-color:#009fe3;
      opacity: 1;
    }
  }

// Right
  .editSectionRight {
    height: calc(100vh - 56px);
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
    .noAllowed {
      cursor: not-allowed !important;
    }

    // magazine
      .magazine-switch {
        .radio-switch {
          label {
            width: 50%;
          }
        }
      }

    // Unit
      .calculateBtn {
        margin: 0 0 0 5px;
        width: 29px;
        height: 29px;
        float: left;
        text-align: center;
        line-height: 29px;
        font-weight: 900;
      }
      .unit-switch {
        .radio-switch {
          label {
            padding: .5em 1em !important;
          }
        }
      }

    // part
      .Part {
        .singleParts {
          .part-switch {
            .radio-switch {
              label {
                padding: .4rem 1rem;
                font-size: .8rem;
              }
            }
          }
        }
        .multiParts {
          background:rgba(0,0,0,0.6);
          top: 0%;
          left: 0%;
          z-index: 10;
          .card {
            .card-body {
              .multu-input {
                width: 12rem;
              }
              .custom-file-label {
                font-size: .8em;
              }
            }
            .multiParts-switch {
              .radio-switch {
                label {
                  padding: .4rem 1rem;
                  font-size: .8rem;
                }
              }
            }
          }
        }
      }

    // hint-words
      .hint-grop {
        .hint-item {
        display: block;
        line-height: 1.2em;
        color: #636363;
        border: 0.8px solid #ccc;
        margin: .2em;
        padding: .2em .3em;
        transition: .2s;
        font-size: 0.9em;
          &:hover {
            background-color: #4F5675;
            color: #ffffff;
          }
        }
      }
  }

  .saveBtn {
    top: -3rem;
    right: 12rem;
    z-index: 99;
  }
</style>
