<template>
  <div class="mainWrap">
    <div class="row primaryBlue mx-0">
      <!-- menu -->
      <div class="col-2 p-0 MagazineList-Left">
        <ul class="list-group">
          <li class="list-group-item bg-transparent text-white border-0 LeftLi" :class="{active: listSection == 1}">
            <i class="far fa-list-alt"></i>
            <span class="d-none d-md-inline-block">List</span>
          </li>
        </ul>
      </div>

      <!-- 列表頁 -->
      <div class="col-10 pl-0 pr-lg-2" v-if="listSection == 1">
        <div class="MagazineList-Right w-100 bg-white">

          <!-- title -->
          <div class="bg-light m-0 d-flex p-3 px-5 title">
            <i class="far fa-list-alt mr-2 text-vibrantBlue text-linethight"></i>
            <h5 class="m-0 mr-5 text-linethight font-weight-bold text-primaryBlue">LIST</h5>
            <router-link :to="{name:'edit'}" class="btn mr-3 addBtn text-white px-4"><i class="fas fa-plus mr-2"></i>ADD NEW</router-link>
          </div>

          <div class="main-list bg-white px-4">

            <!-- 篩選 -->
            <div class="bg-white search-bar d-flex justify-content-between pt-3 pb-3">
                <form class="form-inline">
                  <div class="form-group mx-2">
                    <label for="selectDate">Publish Date</label>
                    <select class="form-control custom-select-sm ml-2" id="selectMonth"
                      v-model="searchValue.year" @change="getData">
                      <option value=''>--</option>
                      <option :value="item" v-for="(item,index) in getDateTime" :key="index">{{item}}</option>
                    </select>
                    <select class="form-control custom-select-sm ml-2 mr-3" id="selectDate"
                      v-model="searchValue.month" @change="getData">
                      <option value=''>--</option>
                      <option :value="item" v-for="(item,index) in 12" :key="index">{{item}}</option>
                    </select>
                    <label for="selectDate">Type</label>
                    <select class="form-control custom-select-sm ml-2 mr-3" id="selectType"
                      v-model="searchValue.type" @change="getData">
                      <option value=''>--</option>
                      <option value='magazine'>magazine</option>
                      <option value='book'>book</option>
                    </select>
                  </div>
                  <a class="btn addBtn text-white p-1 px-2" @click="cleanSearchValue()">
                    <i class="fas fa-redo-alt" style="font-size:0.8em"></i>
                  </a>
                </form>
            </div>

            <!-- 清單 -->
            <div class="list mt-3 mb-2">
              <table class="table m-0 table-sm table-hover">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" @click="sortType = !sortType">Type
                      </th>
                      <th scope="col" @click="sortDate = !sortDate">Publish Date
                      </th>
                      <th style="width:20%" scope="col" @click="sortTitle = !sortTitle">Title
                      </th>
                      <th scope="col" @click="sortEditDate = !sortEditDate">Last Edit Time
                      </th>
                      <th scope="col" @click="sortEditor = !sortEditor">Editor
                      </th>
                      <th scope="col">Operational</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="p-0 align-middle" v-for="(item,index) in mainList" :key="index">
                    <th class="p-0 align-middle" scope="row">{{index + 1}}</th>
                    <td class="p-0 align-middle">{{ item.type }}</td>
                    <td class="p-0 align-middle">{{ moment(item.published_at).format('YYYY-MM') }}</td>
                    <td class="p-0 align-middle">{{ item.title }}</td>
                    <td class="p-0 align-middle">{{ item.updated_at }}</td>
                    <td class="p-0 align-middle">{{ item.lastmodified_name ? item.lastmodified_name : item.owner_name }}</td>
                    <td>
                      <div class="btn-group p-0" role="group" aria-label="Basic example">

                      <router-link :to="{name:'edit',params:{ book: item.id }}" class="rounded btn primaryBlue text-white mx-1">
                        <i class="far fa-edit"></i>
                      </router-link>

                      <a class="btn editBtn text-white mx-1 rounded pointer" @click="openConfirmDel(item)">
                        <i class="far fa-trash-alt"></i>
                      </a>

                      <router-link v-if="item.type  === 'magazine'"
                        :to="{ path: '/magazine/' + item.id }" target="_blank"
                        class="rounded btn addBtn text-white mx-1">
                        <i class="far fa-eye"></i>
                      </router-link>
                      <router-link v-if="item.type  === 'book'"
                        :to="{ path: '/book/' + item.id }" target="_blank"
                        class="rounded btn addBtn text-white mx-1">
                        <i class="far fa-eye"></i>
                      </router-link>

                      </div>
                    </td>
                    </tr>
                </tbody>
              </table>
            </div>

            <!-- 頁碼 -->
            <div class="pagination_Wrap">
              <paginate
                  :page-count="pagination.length"
                  :page-range="3"
                  :margin-pages="2"
                  :click-handler="pageChange"
                  :prev-text="'<'"
                  :next-text="'>'"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :active-class="'pagination-item--active'"
                  :prev-class="'page-item'"
                  :next-class="'page-item'"
                  :disabled-class="'disabled-item'"
                  :force-page="pagination.currentPage"
                  >
                </paginate>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- 刪除確認視窗 -->
      <Confirm
        v-if="deleteMode"
        v-on:confirm="confirm"
        :deleteTitle="deleteTitle"
        :isPassword="isPassword"
      />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import axios from 'axios'
import Confirm from './Confirm'
import typeList from '@/components/modules/typeList'
import Paginate from 'vuejs-paginate'

export default {
  name: 'ListSection',
  data () {
    return {
      listSection: 1,

      deleteMode: false,
      deleteID: null,
      deleteTitle: null,
      isPassword: true,

      // data
      mainList: null,

      // search
      searchValue: {
        year: '',
        month: '',
        type: '',
        title: ''
      },

      // pagination
      pageNum: 10,
      pagination: {
        currentPage: 1,
        length: 1
      },

      // sort
      sortDate: false,
      sortTitle: false,
      sortEditDate: false,
      sortEditor: false,
      sortType: false,
      appliedFilter: null
    }
  },

  mixins: [
    typeList
  ],

  components: {
    Confirm,
    Paginate
  },

  watch: {
  },

  computed: {
    ...mapGetters([
      'getDateTime',
      'authorized'
    ]),

    calculateMonth () {
      let month = this.searchValue.month
      if (month < 10) {
        return '0' + month
      } else {
        return '' + month
      }
    }
  },

  mounted: function () {
    this.checkAuthorized()
    this.authorized ? this.getData() : null
  },

  methods: {
    checkAuthorized () {
      let self = this
      if (!self.authorized) {
        self.$router.push({ name: 'login' })
      } else {
        self.$store.dispatch('getProfile')
      }
    },
    async getData () {
      let self = this
      let dataObj = {
        params: {}
      }

      if ((self.searchValue.year !== '' && self.searchValue.month !== '')) {
        dataObj.params.published_at = self.searchValue.year + '-' + self.calculateMonth
      }
      if (self.searchValue.type) {
        dataObj.params.type = self.searchValue.type
      }

      let { data } = await axios.get('/ebooks?page=' + self.pagination.currentPage + '&pageSize=' + self.pageNum, dataObj)

      self.mainList = data.data
      self.pagination.length = data.last_page
      if (self.pagination.currentPage > data.last_page) {
        self.pagination.currentPage = 1
        self.getData()
      }
    },

    // sort
    cleanSearchValue () {
      if (this.searchValue.year !== '' || this.searchValue.month !== '' || this.searchValue.type !== '') {
        this.searchValue.year = ''
        this.searchValue.month = ''
        this.searchValue.type = ''
        this.getData()
      }
    },

    // delete
    openConfirmDel (item) {
      this.deleteMode = true
      this.deleteID = item.id
      this.deleteTitle = item.title
    },
    confirm (confirm) {
      confirm ? this.agreeConfirmDel() : this.deleteMode = false
    },
    agreeConfirmDel () {
      this.deleteMode = false

      axios.delete('/ebooks/' + this.deleteID)
      .then((response) => {
        this.deleteMode = false
        this.getData()
      })
    },

    pageChange (pageNum) {
      this.pagination.currentPage = pageNum
      this.getData()
    }
  }
}
</script>
<style lang="scss">
.mainWrap {
  min-height: calc(100vh - 56px);
  .MagazineList-Left {
    min-height: calc(100vh - 56px);
    background-color: #254556 !important;
    .LeftLi {
      cursor: pointer;
      border-left: 10px solid transparent !important;
    }
    .active {
      background-color: #009fe3 !important;
      border-left: 10px solid #009fe3 !important;
    }
  }

  .MagazineList-Right {
    min-height: calc(100vh - 56px);
    .title {
      .fa-clipboard-list, .fa-list-alt {
        font-size: 2em;
      }
      .text-linethight {
        line-height: 38px;
      }

    }
    .list {
      min-height: 500px;
    }
    .table thead th {
      vertical-align: middle;
      text-align: center;
    }
    td, tr {
      text-align: center;
    }
  }
}
.pointer {
  cursor: pointer;
}
</style>
