<template>
  <div class="main position-relative">
    <div class="login">
      <div class="card flex-column flex-lg-row overflow-hidden bg-transparent">

        <!-- 輸入視窗 -->
        <div class="card-body p-5 p-6 order-2 order-lg-1 position-relative bg-white">
          <div class="position-absolute livelogo">
            <img src="~@/assets/pic_live_logo.png" alt="">
          </div>
          <h3 class="text-center mb-4 text-primaryBlue font-weight-bold">LOGIN TO QR-CODE</h3>
          <form v-on:keyup.13="login">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white border-right-0" id="basic-addon1">
                  <i class="far fa-user"></i>
                </span>
              </div>
              <input type="text" class="form-control border-left-0" placeholder="username" aria-label="Username"
                aria-describedby="basic-addon1" v-model="account">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-white border-right-0" id="basic-addon1">
                  <i class="fas fa-key"></i>
                </span>
              </div>
              <input type="password" class="form-control border-left-0" placeholder="Password" ref="pwdInput"
                aria-label="Username" aria-describedby="basic-addon1" v-model="password" autocomplete>
              <button type="button" tabindex="-1" class="btn fb-input__eye position-absolute" @click="togglePwdShow">
                <i v-if="!showPwd" class="far fa-eye-slash"></i>
                <i v-if="showPwd" class="far fa-eye"></i>
              </button>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="isRember">
              <label class="form-check-label text-primaryBlue " for="exampleCheck1">Remember Me</label>
            </div>
            <div class="row mt-4">
              <div class="col d-flex justify-content-center">
                <a class="btn addBtn text-white logBtn pt-2 pb-2 font-weight-bold d-flex" @click="login()">LOGIN
                </a>
              </div>
            </div>
          </form>
        </div>

        <!-- right -->
        <div class="card-body py-3 px-4 py-lg-4 px-lg-5 order-1 order-lg-2 primaryBlue d-flex flex-column justify-content-center">
          <h3 class="text-center text-primaryBlue text-white text-nowrap font-weight-bold mb-1">Hello Friend!</h3>
          <h5 class="text-center text-primaryBlue text-white text-nowrap mb-0">Let's start with qr-code</h5>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import notification from '@/components/modules/notification'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'Magazine_Login',

  data () {
    return {
      account: '',
      password: '',
      isRember: false,
      showPwd: false
    }
  },

  components: {
  },

  mixins: [
    notification
  ],

  computed: {
    ...mapGetters([
      'userRole'
    ])
  },

  mounted: function () {
    this.hasRember()
    this.$route.query.token ? this.checkToken() : null
  },

  methods: {
    ...mapActions({
      dologin: 'login',
      useTokenLogin: 'useTokenLogin'
    }),

    async checkToken () {
      let self = this
      await self.useTokenLogin(self.$route.query.token)
      self.$router.push({ name: 'list' })
    },

    async login () {
      let self = this
      await self.dologin({ account: self.account, password: self.password })

      self.isRember ? self.remember() : null

      self.$router.push({ name: 'list' })
    },

    remember () {
      let arr = { 'email': this.account, 'password': this.password }
      localStorage.setItem('ebook', JSON.stringify(arr))
    },

    hasRember () {
      if (localStorage.getItem('ebook')) {
        this.account = JSON.parse(localStorage.getItem('ebook')).email
        this.password = JSON.parse(localStorage.getItem('ebook')).password
      }
    },

    togglePwdShow () {
      this.showPwd = !this.showPwd
      if (this.showPwd) {
        this.$refs.pwdInput.type = 'text'
      } else if (!this.showPwd) {
        this.$refs.pwdInput.type = 'password'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.main {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background:rgba(22,60,82,0.8);
  .login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 0px solid transparent !important;
      .livelogo {
        top: 3%;
        left: 3%;
        width: 60px;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      .fb-input__eye {
        right: 0;
        display: block;
        z-index: 2;
        color: rgba(22,60,82,0.8);
          &:active, &:focus {
            outline: none !important;
            box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
          }
        }
      .logBtn {
        padding-left: 9rem;
        padding-right: 9rem;
        cursor: pointer;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .p-6 {
    padding: 5rem !important;
  }
}
</style>
