<template>
<div>
  <div class="row px-5 mt-3">
    <div class="col-12 d-flex justify-content-end">
      <div class="easyBlue text-white dragText pt-2 pb-2 text-center" v-if="!dragging">
        <p class="m-0 font-weight-bold dragTextEn">Draging for Sort</p>
        <p class="m-0 font-weight-bold dragTextCh">請拖曳變換順序</p>
        </div>
      <div class="easyGreen text-white dragText pt-2 pb-2 text-center" v-if="dragging">
        <i class="fas fa-sync fa-spin"></i>
      </div>
    </div>
    <div class="col-12">
      <div class="scrollist mt-3" id="scrollist">

        <!-- 資料清單 -->
        <draggable
          :list="sortData"
          class="list-group"
          @start="dragging = true"
          @end="submit">
          <div
            class="list-group-item"
            v-for="(item,index) in sortData"
            :key="index">
            #{{index + 1}}-<span :class="{ textHide: isNaN(Number((item.unit))) }">Unit</span>{{item.unit}}{{ item.name }}
          </div>
        </draggable>

      </div>
    </div>
  </div>
</div>
</template>

<script>
import draggable from 'vuedraggable'
export default {
  name: 'SortSection',
  order: 0,
  components: {
    draggable
  },
  props: {
    sortData: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      enabled: true,
      dragging: false
    }
  },
  computed: {
  },
  mounted: function () {
  },
  methods: {
    submit () {
      this.dragging = false
      for (let i = 0; i < this.sortData.length; i++) {
        this.sortData[0].part ? this.sortData[i].part = (i + 1).toString() : null
        this.sortData[0].section ? this.sortData[i].section = (i + 1).toString() : null
      }
    }
  }
}
</script>
<style lang="scss" scoped>
#scrollist::-webkit-scrollbar {
    display: none;
}
.dragText {
  width: 180px !important;
  .dragTextCh {
    display: none;
  }
}
.dragText:hover .dragTextEn{
  display: none;
}
.dragText:hover .dragTextCh{
  display: block;
}
.textHide {
  display: none;
}
.scrollist {
  height: calc(100vh - 220px);
  overflow-y: scroll;
  overflow-x: hidden;
}
</style>