<template>
  <a :href="adData.url" class="p-2 px-lg-0 d-block">
    <img class="w-100 h-100 object-contain" :src="adData.image_url" alt="">
  </a>
</template>

<script>
export default {
  name: 'AD',

  data () {
    return {}
  },

  props: {
    adData: {
      type: Object
    }
  },

  mounted () {

  },

  watch: {
  },

  methods: {
  }
}

</script>

<style lang="scss" scoped>
.object-contain {
  object-fit: contain;
}
</style>
