<template>
  <div class="partLesson" v-if="data">

    <!-- part清單 -->
    <div class="list container" v-if="sectionList === 1">
      <div v-for="(item,index) in data" :key="index" class="border-bottom py-3">
        <router-link :to="{ name: 'magazine', params: { id:routeId, section:item.section } }"
          @click.native="changeSection(2)" class="text-decoration-none">
          <h5 class="m-0 align-middle">
            <span>{{ item.name }}</span>
            <img class="fa-caret-right" src="~@/assets/icon/caret-right-solid.svg">
          </h5>
        </router-link>
      </div>
    </div>

    <!-- part課程清單 -->
    <div class="partDetail container" v-if="sectionList === 2">
      <h5 class="border-bottom mx-auto py-3">
        <span>{{ data[section - 1].name }}</span>
        <img class="fa-caret-right opacity-0" src="~@/assets/icon/caret-right-solid.svg">
      </h5>
      <div class="border-0 pt-3 btn-classes">
        <div class="partLesson_content">
          <div class="d-flex justify-content-center text-center flex-wrap">
            <div class="pr-1 pl-1 pb-1 d-flex justify-content-center flex-column"
              v-for="(item,index) in data[section-1].parts"
              :key="index">
              <div class="class_text text-center">
                <p class="m-0"><span>{{ item.name }}</span></p>
              </div>
              <div class="class_btn">
                <router-link @click.native="changeSection(3)"
                  :to="{ name: 'magazine', params:{ id: routeId, section: section, parts: item.part }}">
                  <div class="btn_voice mx-auto"  v-if="item.file.indexOf('mp3') > -1">
                    <img src="~@/assets/btn/btn_voice.png" :alt="item.name"/>
                  </div>
                  <div class="btn_voice mx-auto"  v-else>
                    <img src="~@/assets/btn/btn_video.png" :alt="item.name"/>
                  </div>
                </router-link>
              </div>
            </div>
          </div>
          <div class="mt-5 mb-2 mb-sm-5 w-100" @click="changeSection(1)">
            <div class="closeBtn mx-auto">
              <img src="~@/assets/btn/btn_close_black.png" alt="Close"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 影片 -->
    <video-player v-if="sectionList == 3"
      v-on:changeSection="changeSection"
      :path="path"
      :fileUrl="fileUrl"
      :fileType="fileType"
      :audioCover="audioCover"
      />

  </div>
</template>

<script>
import videoPlayer from '@/components/modules/VideoJsPlayer'

export default {
  name: 'partLesson',

  data () {
    return {
      sectionList: 1
    }
  },

  components: {
    videoPlayer
  },

  props: {
    data: {
      type: Array,
      required: true
    },
    routeId: {
      type: String,
      required: true
    },
    route: {
      type: Number,
      required: true
    },
    path: {
      type: String,
      required: true
    },
    closeVideoJs: {
      type: Boolean,
      required: true
    },
    audioCover: {
      type: String,
      default: ''
    }
  },

  watch: {
    closeVideoJs: {
      immediate: true,
      handler (val, oldVal) {
        if (val === true) {
          this.sectionList = 1
        }
      }
    },
    '$route.params.section': {
      handler (section) {
        if (section) {
          this.sectionList = 2
        }
      },
      immediate: true
    },
    '$route.params.parts': {
      handler (parts) {
        if (parts) {
          this.sectionList = 3
        }
      },
      immediate: true
    }
  },

  computed: {
    section () {
      if (this.$route.params.section) {
        return this.$route.params.section
      } else {
        return 1
      }
    },
    part () {
      if (this.$route.params.parts) {
        return this.$route.params.parts
      } else {
        return 1
      }
    },
    fileUrl () {
      let self = this
      let file = self.data[self.section - 1].parts[self.part - 1].file
      if (file.indexOf('https://www.youtube.com/') !== -1) {
        return file
      } else {
        return encodeURIComponent(self.data[self.section - 1].name) + '/' + self.data[self.section - 1].parts[self.part - 1].file
      }
    },
    fileType () {
      let file = this.data[this.section - 1].parts[this.part - 1].file
      if (file.indexOf('mp4') !== -1) {
        return 'mp4'
      } else if (file.indexOf('https://www.youtube.com/') !== -1) {
        return 'youtube'
      } else {
        return 'mp3'
      }
    }
  },
  mounted () {
    // this.data ? this.initSection() : null
  },
  methods: {
    initSection () {
      let self = this
      if (self.$route.params.parts && self.$route.params.section) {
        self.sectionList = 3
      } else if (!self.$route.params.parts && self.$route.params.section) {
        self.sectionList = 2
      }
    },
    changeSection (num) {
      let self = this
      self.sectionList = num

      if (num === 1) {
        self.$router.replace({ name: self.$route.name, params: { id: self.$route.params.id, section: null, parts: null } })
      } else if (num === 2) {
        self.$router.replace({ name: self.$route.name, params: { id: self.$route.params.id, section: self.$route.params.section, parts: null } })
      }
    }
  }
}

</script>

<style lang="scss" scoped>
  p, h5 {
  font-family: 'Arial', Times, serif, '微軟正黑體';
  color: #000;
  }
  span {
    white-space: pre-wrap;
  }
  .w-80 {
    width: 80%;
  }
  .opacity-0 {
    opacity: 0;
  }
  .fa-caret-right {
    width: 10px;
    height: 10px;
    margin-left: 8px;
  }
  .container {

    h5:hover {
      text-decoration:none;
    }
    a:hover {
      text-decoration:none;
    }
  }
  .partLesson {
    // min-height: 310px;
    .btn-classes {
      max-width: 650px;
      width: 100%;
      margin: auto;
      .partLesson_content {
        .class_text {
          height:50px;
          width:96px;
          p {
            line-height: 50px;
            white-space: pre-wrap;
          }
        }
        .class_btn {
          .btn_voice {
            cursor: pointer;
            height: 80px;
            width: 80px;
              img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .closeBtn {
          height: 40px;
          width: 40px;
          border: 1px solid #000000;
          border-radius: 50%;
          padding: 4px;
          img {
            height: 100%;
            width: 100%;
            cursor: pointer;
            object-fit: contain;
          }
        }
      }
    }
  }
</style>
