  html,
  body {
    font-style: "Microsoft JhengHei";
    color: #cccccc;
  }
  .fs30 {
    font-size: 30px;
  }

  .fs26 {
    font-size: 26px;
  }

  .fs24 {
    font-size: 24px;
  }

  .fs20 {
    font-size: 20px;
  }

  .fs18 {
    font-size: 18px;
  }

  .fs16 {
    font-size: 16px;
  }
  .fs14 {
    font-size: 14px;
  }
  .fs12 {
    font-size: 12px;
  }
  .borderBottoum {
    border-bottom: 1px solid #dee2e6;
  }